[2016-07-08 14:57] shawna-slh opened #1 "Smart Search functionality - prioritize as short-term improvement?"
https://www.w3.org/WAI/EO/wiki/WAI_site_plans has:

Is there any reason to wait to do that? I'd like for us to consider making that a short-term improvement that we start very soon.

[2016-07-20 17:31] yatil opened #2 "Expand/Collapse functionality"

[2016-07-22 18:43] happywebdiva opened #3 "Launch style tiles work"
Here's an approach I'd suggest.  If you like it, I expect these need to be broken into individual backlog items, so feel free to do with this item as you see fit.  Thanks.
1. Settle on a format to give to designers.  I'd suggest the one at http://styletil.es/ -- especially the downloadable PSD.
2. Decide on time frame and other ground rules, including when needed, fine to do multiple style tiles,

[2016-07-22 18:46] happywebdiva opened #4 "Get Analytics Baseline from June and July Data"

[2016-07-27 16:49] James-Green opened #5 "Content Inventory (for IA)"

[2016-07-27 17:16] James-Green opened #6 "Smart Search - 1. options / how to do"

[2016-07-27 17:16] James-Green opened #7 "Smart Search - 2. technical backend"

[2016-07-27 17:16] James-Green opened #8 "Smart Search - 3. UI"

[2016-07-27 17:17] yatil commented on #1
Aspects
- [ ] Explore what is needed to implement such a functionality.
- [ ] Setting meta tags to resources
- [ ] Defining meta tags needed
- [ ] Prioritize items
- [ ] What should be displayed first
- [ ] What are the options and how will we do it?
- [ ] Defining the technical backend
- [ ] Defining the user interface
- [ ] Defining the details

[2016-07-27 17:17] James-Green opened #9 "Smart Search - 4. tagging, etc."

[2016-07-27 17:29] James-Green opened #10 "Create Style Tyles"

[2016-07-27 17:29] James-Green opened #11 "Collect Feedback on Style Tiles"

[2016-07-27 17:40] shawna-slh commented on #5
https://www.w3.org/WAI/sitemap.html is updated.

Planned new resources:
- more Tutorials
- Inclusion doc draft: http://w3c.github.io/wai-inclusion/ (project page links to requirements, etc: https://www.w3.org/WAI/EO/wiki/Accessibility_and_Inclusion)
- Accessible [UI Components List](https://www.w3.org/blog/wai-components-gallery/) (title to be changed)
- possibly 1-3 more Tips for Getting Started

[2016-07-27 17:49] yatil commented on #1
Split into #6, #7, #8, #9

[2016-07-27 17:52] #1 closed, assigned to nobody

[2016-07-28 23:46] James-Green commented on #3
We decided to keep this as one backlog item - the tasks cannot stand on their own and you outlined them so well :)  The following tasks this sprint are to collect submissions and evaluate/decide.  See those here https://github.com/w3c/wai-website-design/milestone/1

[2016-08-03 17:24] shawna-slh commented on #3
"request for submission" discussed in 27 July & 3 August teleconferences. need to include things like: volunteer, acknowledgements, permissions, expectations, etc.

[2016-08-05 14:19] shawna-slh commented on #6
**Brief description is at: [What is it?](https://www.w3.org/WAI/EO/wiki/Smart_Search)**

Discussed in EOWG telecon 5 August: [item 2](https://www.w3.org/2016/08/05-eo-minutes#item02), [item 13](https://www.w3.org/2016/08/05-eo-minutes#item13)

[2016-08-05 14:24] yatil commented on #6
I tinkered with the minutes and item 13 is now really [item 12](https://www.w3.org/2016/08/05-eo-minutes#item12). :-)

[2016-08-08 08:28] ljm22 commented on #6
Hi all! Shawn, thanks for the invitation to join in, so some questions:
- is this for WAI content only? Or all W3C?
- Are you committed to a SOLR/Nutch solution
- where is the user searching from? On-site search? External search engine? Both? Do you have numbers (e.g. percentage split)?
- if external, which serch engines to be given consideration first? Google, Bing, Baidu, Yandex, Naver?
- how wi

[2016-08-08 09:31] yatil commented on #6
Hi @ljm22, let me try to answer the questions:

This is just for WAI content and some TR documents. It is probably limited to 300 or so pages all in all (more if we decide to include Wiki pages – Shawn?)

We are exploring options at the moment and are not committed to anything. We don’t yet know what systeam resources we can get, so the simpler the better, I think.

We got a good percentage of ext

[2016-08-16 19:49] shawna-slh commented on #6
Hi Liam! Some additions to Eric/yatil's info:
- This is about optimizing the internal search. Right now WAI site search is way down in the footer only because it's not smart. I envision with a "smart search" we would raise the visibility of it significantly.
- I don't expect we have sufficient resources to do significant SEO for specific search engines (but maybe there is some easy stuff that I do

[2016-08-18 12:22] yatil commented on #6
Here are some options that @vuxcaleb researched earlier and I got via email. Listing them here, with some quick comments:
- http://lunrjs.com/
  - 👍 Stand-Alone search
  - 👍 JavaScript based, so I guess pretty adaptable accessibility-wise…
  - 👎 Does not index itself, does not seem to have a lot of smart possibilities but be only a text-search.
- https://cse.google.com/cse/
  - 👍 Easy to implement

[2016-08-18 12:37] lakeen commented on #6
Chris Thatcher lead engineer with the Library of Congress search team will join our call on the 24th and 31st also.

I sent him a link to the call in information and cc'd him here.

Thanks,
Laura

---

On: 18 August 2016 08:23, "Eric Eggert" notifications@github.com wrote:

Here are some options that @vuxcalebhttps://github.com/vuxcaleb researched earlier and I got via email. Listing them here, wi

[2016-08-23 18:29] charlottehwise opened #12 "Get current analytics relevant for IA"
Get existing analytics for the site.

[2016-08-23 18:33] #12 closed, assigned to nobody

[2016-08-23 19:57] charlottehwise opened #13 "Collect top tasks"
Collect and refine a list of top tasks commonly performed on site by visitors (personas). This will be used to refine the IA and to inform the test plan for the benchmarking usability study.

See:
https://www.digitalgov.gov/2014/07/02/using-top-tasks-to-be-top-notch-federal-reserve-board-usability-case-study/
http://alistapart.com/article/what-really-matters-focusing-on-top-tasks
http://www.measur

[2016-08-23 19:58] charlottehwise opened #14 "Benchmarking usability test"
Write test plan, recruit users, and conduct benchmarking usability test (qualitative sample size) to gain insight into current pain points and uncover unknown IA issues.

[2016-08-23 19:59] charlottehwise opened #15 "Generate a new sitemap"
After all IA activities and initial benchmarking test is done, create a new sitemap using DynoMapper or similar tool.

[2016-08-23 20:46] charlottehwise commented on #5
Will probably use DynoMapper to do this--I am trying it out using the free trial version now.

[2016-08-23 20:47] charlottehwise opened #16 "Card sorting"
Will use OptimalSort (Visa has a paid full service account we can use) to card sort navigation terms after top tasks, content inventory, and benchmark testing is done.

[2016-08-23 20:48] charlottehwise opened #17 "Compile complete list of new and retired content"
Complete list of new and retired (hidden) content for the new site. Is there anything beyond Shawn's great list from https://github.com/w3c/wai-website-design/issues/5 (included below from ):

https://www.w3.org/WAI/sitemap.html is updated.

Planned new resources:
•more Tutorials
•Inclusion doc draft: http://w3c.github.io/wai-inclusion/ (project page links to requirements, etc: https://www.w3.org/

[2016-08-24 17:45] shawna-slh commented on #5
Discussion moved to https://github.com/w3c/wai-website-design/issues/17 ?

[2016-08-24 17:51] shawna-slh commented on #17
There is a huge number of retired pages - probably 1000s.

Per 24 Aug telecon:
1. There are at least 3 "levels":
1.a. in main nav - easily findable
1.b. linked somewhere, but doesn't need to be in main nav and highly findable
1.c. old content that shouldn't be linked anywhere
2. I'm happy to annotate any auto-generated list of pages.

[2016-08-24 19:01] shawna-slh commented on #14
First to make clear: I think usability testing is incredibly valuable at all stages!

At the May 2016 face-to-face meeting, we noted that it is not particularly important for this project to be able to demonstrate improvement from the redesign -- thus benchmark for this purpose is not a priority.

We also discussed usability testing on the existing site and usability testing on redesign wireframes

[2016-08-24 19:24] shawna-slh commented on #13
We have an old **[task list & task-user matrix](https://www.w3.org/WAI/redesign/tasks#matrix)** we developed for the 2005 redesign. Most of those are still relevant today. We will want to work on refining a top tasks list these days...

[2016-08-30 15:37] happywebdiva opened #18 "Decide on tagline (include? what would it be?)"
On the current site, "WAI: Strategies, guidelines, resources to make the Web accessible to people with disabilities" is the tagline -- featured on every page near the top.  Taglines are related to visual design -- affecting perception of the site.  IMO this tagline is too blah-blah -- and thus we need to either do away with it or replace it with a very brief phrase that's in sync with our goal of

[2016-08-31 16:28] thatcher commented on #6
Sorry I missed the 24th. Will be on today 1pm Eastern!

[2016-08-31 16:46] thatcher commented on #6
Here are some possible technologies to consider not listed above:
- http://projectblacklight.org/
- https://aws.amazon.com/elasticsearch-service/

Project Blacklight provides a lot of smart search features but you have to host the solr index.

Elasticsearch is a search index you can purchase through AWS.  You still have to crawl your content and put it in the index and write the html interface for

[2016-08-31 17:04] ljm22 commented on #6
Also Apache Solr/Lucene/Nutch http://lucene.apache.org/solr/

[2016-08-31 17:51] yatil commented on #6
This is DDG’s developer documentation: http://docs.duckduckhack.com

[2016-09-05 18:08] happywebdiva commented on #11
I'm happy to take this on for the September sprint.  I think of it more as gathering feedback than "evaluating" -- though of course there is evaluation especially for WCAG 2.0 AA compliance.  What I will do is listen and take notes on feedback as Sharron unrolls style tile submissions during Sept. 7 meeting.  Then after the meeting I'll reach out individually to primary stakeholders who weren't on

[2016-09-05 18:11] happywebdiva opened #19 "Create wireframes"
I'm hoping we can add this to the September sprint.  If wireframes can be in place by end of September then (combining them with style tiles) I think we can have prototypes as an October sprint.  My guess is we won't need to do comp's.

[2016-09-07 15:40] happywebdiva opened #20 "Build wireframes"

[2016-09-07 15:41] happywebdiva commented on #20
Oops.  Duplicate.  Deleting.

[2016-09-07 15:41] #20 closed, assigned to nobody

[2016-09-07 17:30] James-Green commented on #4
Presented in Sept 7 TF Meeting

[2016-09-07 17:30] #4 closed, assigned to yatil, susanatx, shawna-slh, vuxcaleb

[2016-09-07 17:30] James-Green commented on #3
Invites sent out by Sharron

[2016-09-07 17:30] #3 closed, assigned to happywebdiva

[2016-09-07 17:31] James-Green commented on #10
6 tile submissions received

[2016-09-07 17:31] #10 closed, assigned to nobody

[2016-09-07 17:34] James-Green commented on #5
moving to next Sprint, with plans to finish during September.

[2016-09-07 17:43] James-Green opened #21 "Top Tasks Planning"
Charlotte and Shawn will work on this offline.

[2016-09-07 17:50] James-Green opened #22 "Pick a Design"

[2016-09-07 17:51] James-Green opened #23 "Define page types (for designer to work on)"

[2016-09-07 17:52] James-Green commented on #23
Shawn volunteered to help with this.

[2016-09-12 14:31] ljm22 commented on #6
Who do I need to chase for piwik access? @eric ?

[2016-09-12 14:58] yatil commented on #6
@ljm22 You should receive an email any minute now ;-)

[2016-09-12 15:49] ljm22 commented on #6
## PIWIK

Thanks! Any chance of getting into the Piwik dashboard (and API) or is that out of bounds?

## Google Search Console info

Can we get the attached html file unzipped and set at the root of either www.w3.org/WAI/ or just straight in at www.w3.org/? It's blank, just a verification proof so I can get at Google Search Console data.

[google85be2fa2d80976f2.zip](https://github.com/w3c/wai-web

[2016-09-12 22:36] James-Green commented on #6
Yes.

[Trimmed email overhead – Eric]

[2016-09-13 14:39] vuxcaleb commented on #6
Liam – Please reach out to Eric for access to the analytics.

Best,
Caleb

[Trimmed email overhead – Eric]

[2016-09-13 14:42] yatil commented on #6
@James-Green & @vuxcaleb I already reached out to Liam, see my reply above. I am following this thread.

[2016-09-14 16:58] happywebdiva commented on #22
I just assigned this to myself.  To be clear I'm doing this to oversee picking design elements -- not saying I pick a design.  Heaven forbid!

[2016-09-14 17:34] #11 closed, assigned to nobody

[2016-09-14 17:35] James-Green opened #24 "Collect design inspiration"
send URLs and ideas to AB by Sept 20th.

[2016-09-14 18:31] shawna-slh commented on #23
I've started this at https://www.w3.org/WAI/EO/wiki/Page_Types
Everyone please add to it.
IA & Visual Design - let us know what else you need around this...

[2016-09-15 13:53] shawna-slh commented on #21
Info in Issue https://github.com/w3c/wai-website-design/issues/13

[2016-09-16 16:07] shawna-slh commented on #21
Joy & Chris offered to help. [e-mail with ideas for next steps](https://lists.w3.org/Archives/Public/public-wai-eo-site/2016Sep/0002.html)

[2016-09-28 16:32] shawna-slh commented on #21
EOWG action item: https://lists.w3.org/Archives/Public/public-wai-eo-site/2016Sep/0005.html

[2016-09-28 17:08] James-Green commented on #21
Planning complete.

[2016-09-28 17:08] #21 closed, assigned to nobody

[2016-09-28 17:26] James-Green commented on #24
placing on hold while we seek design resources to help.

[2016-09-28 17:26] James-Green commented on #22
placing on hold while we seek design resources to help.

[2016-09-28 17:35] shawna-slh opened #25 "Technical navigation generation"
Eric (with Shawn) is working on a new navigation generation - that will work for the existing site and the redesign.

(TF doesn't need to spend time on this - it's just here fyi ;-)

[2016-09-30 12:23] yatil commented on #2
Some first thoughts:

https://www.w3.org/WAI/EO/wiki/WAI_Website_Redesign/Expand_Collapse

[2016-09-30 12:25] yatil opened #26 "Footer design"
I don’t know if this has to do with the IA EPIC, so feel free to reassign. I also don’t think that the TF needs to spend a lot of time right now.

https://www.w3.org/WAI/EO/wiki/WAI_Website_Redesign/Footer

[2016-09-30 12:27] yatil opened #27 "Feedback box design"
We currently have this feedback box, and I hope we can integrate this more in the new layout.

https://www.w3.org/WAI/EO/wiki/WAI_Website_Redesign/Feedback_Box

(Feel free to reassign and re-label as you see fit.)

[2016-10-05 17:09] James-Green commented on #5
complete, Charlotte will convert to sharable format in next task.

[2016-10-05 17:09] #5 closed, assigned to shawna-slh, James-Green

[2016-10-05 17:21] James-Green commented on #23
IA and Design will use these as needed.

[2016-10-05 17:21] #23 closed, assigned to yatil, shawna-slh, charlottehwise

[2016-10-05 18:22] shawna-slh commented on #13
Draft survey with open issues for @charlottehwise @James-Green and others: [5 Oct e-mail](https://lists.w3.org/Archives/Public/public-wai-eo-site/2016Oct/0000.html)

[2016-10-26 17:09] James-Green commented on #25
done!  this helps update current site navigation and will make improving site for new design much easier.

[2016-10-26 17:09] #25 closed, assigned to nobody

[2016-10-26 17:16] James-Green commented on #24
no longer needed.

[2016-10-26 17:16] #24 closed, assigned to nobody

[2016-11-02 17:35] James-Green opened #28 "Define important pages needing meta data"
also define meta data on draft documents so they _don't_ come up

[2016-11-02 17:37] yatil opened #29 "Add OpenGraph meta data to pages"
To improve display in social networks.

[2016-11-30 18:15] shawna-slh commented on #13
Survey results https://www.w3.org/2002/09/wbs/35532/wai-site-tasks/results

[2016-11-30 18:27] James-Green opened #30 "Define Icon Set"

[2016-11-30 18:33] James-Green commented on #30
Consider page types and add any icons you think we need for the set to the wiki (link below).  We will revisit this on next week's call, start with these buckets (even though they are not final):  Implement/Create, Understand/Learn, Advocate/Manage, Participate/Get Involved/W3, and maybe a Technical Documentation Bucket...

[2016-11-30 18:34] shawna-slh commented on #30
add ideas here: https://www.w3.org/WAI/EO/wiki/New_Icons  :)

[2017-01-04 17:35] yatil commented on #26
@slhenry had a good preliminary discussion on this today.

[2017-01-04 18:09] #13 closed, assigned to nobody

[2017-01-04 18:17] #22 closed, assigned to nobody

[2017-01-04 18:25] James-Green commented on #19
n/a

[2017-01-04 18:25] #19 closed, assigned to nobody

[2017-01-10 16:32] shawna-slh commented on #27
As clarified in 4 Jan teleconference, some, but not all, pages will have this box. More specifically, some pages will be in GitHub and others will not. Few will now, and more may later.

[2017-01-10 16:38] shawna-slh opened #31 "Translations back-end"
For many pages, we would like to have easy access to translations of that page. That involves:
* UI to easily discover and get to the translations  - in separate issue https://github.com/w3c/wai-website-design/issues/32
* backend for it

Additional info:
* Current W3C database discontinued ([e-mail](https://lists.w3.org/Archives/Public/w3c-translators/2017JanMar/0000.html)), not-yet-updated [W3C T

[2017-01-10 16:39] shawna-slh opened #32 "Translations UI"
For many pages, we would like to have easy access to translations of that page. That involves:
* UI to easily discover and get to the translations
* technical backend for it  - in separate issue https://github.com/w3c/wai-website-design/issues/31

[2017-01-10 17:07] yatil opened #33 "Explore and define which pages to add metadata to"
As discussed between @lakeen and me on Jan 6th.

  * Eric to send Laura the current metadata. ✅
  * Eric to talk to Shawn to determine the first set of pages. ✅
  * Eric/Shawn to send first set of pages to Laura. ✅
  * Laura crafting descriptions and tags (more or less) for this first set of pages.

[slh updated  ✅ on items 2 & 3]

[2017-01-11 14:15] shawna-slh commented on #18
I suggest that EOWG and others consider the tagline along with other aspects of the site design, including overall visual design, skip content, change design, and home page content. To do this, we need an updated visual design for folks to look at...

[2017-01-11 16:44] yatil commented on #31
I guess that would just be a link and a separate page with a language identifier, like the following, right?

* English: https://www.w3.org/WAI/eval/preliminary/
* French: https://www.w3.org/WAI/eval/preliminary/fr/ (or https://www.w3.org/WAI/eval/preliminary/?lang=fr)

We also have to think about how we indicate if translations are current or outdated, but that is mostly #32, I think.

[2017-01-11 23:21] shawna-slh commented on #33
I did a quick first pass at [prioritizing pages for metadata](https://www.w3.org/WAI/EO/wiki/Metadata_priorities).

Anyone is welcome to change that (especially moving things up in priority).

[2017-01-12 10:17] yatil commented on #33
I fixed the display and repaired the links.

[2017-01-25 18:09] yatil opened #34 "Creating metadata for pages"
@lakeen’s action item (I can’t assign you… *finding out how that works*)

follow up from #29

[2017-01-25 18:10] yatil opened #35 "Implementing metadata in parallel to #34"

[2017-01-25 21:33] James-Green opened #36 "foo"
bar

[2017-01-25 21:34] #36 closed, assigned to nobody

[2017-01-26 22:29] yatil opened #37 "Design Mockups: Button contrast"
https://projects.invisionapp.com/share/H299QZZGZ#/screens/215895967

* I think the buttons in the “Help Improve this page” section need a border (or we’d need to underline the text in the buttons) as the background color of the button and the background color behind the button have not enough contrast.

[2017-01-26 22:33] shawna-slh opened #38 "Design Mockups: In-page nav on left instead of right. [medium]"
Level: [medium] I would like to get input from others.
Reference: [26 Jan mockups](https://projects.invisionapp.com/share/H299QZZGZ#/screens/215895929), screen 5 of 9

Some concern with in-page navigation on the left. W3C and WAI site users are used to site nav on the left and in-page nav on the right (e.g., [Mobile page](https://www.w3.org/WAI/mobile/)). My gut is that it's OK to have site-wide n

[2017-01-27 01:06] shawna-slh opened #39 "Design Mockups: Contrast Ratios at Level AAA, best 7:1 all around [strong]"
We want to meet Level AAA for contrast ratios. In several ways, it would be best and easiest if all text contrasts were 7:1.

We could use less that 7:1 for [large text](https://www.w3.org/TR/2008/REC-WCAG20-20081211/#larger-scaledef), but then we would:
* Need to be careful that when designing various components of the WAI site, someone doesn't accidentally use a lower contrast on small text. It

[2017-01-27 01:56] shawna-slh opened #40 "Design Mockups: Headings & link colors [medium]"
For EOWG and other input:
**1. I'm a bit uncomfortable with blue for heading level 3 and callout box headings, since blue has such strong affordance for clickable link.**

For Alicia (awesome visual designer):

2. We will also need to provide styles for more heading levels -- at least level 4.

3. Is that link text color set, or browser default? What about visited link color?

[2017-01-27 02:15] shawna-slh opened #41 "Design Mockups: In-page links [discretionary]"
Reference: [26 Jan mockups](https://projects.invisionapp.com/share/H299QZZGZ#/screens/215895929), screen 5 of 9
Related issue: https://github.com/w3c/wai-website-design/issues/38

Maybe it's just the nature of a draft mockup, but it's not clear what that box is. I assume we will want to include a header such as "On this page" and make the links look like links.

[2017-01-27 02:22] shawna-slh opened #42 "Design Mockups: Help improve page box missing [discretionary]"
Reference: [26 Jan mockups](https://projects.invisionapp.com/share/H299QZZGZ#/screens/215895929)

The "Help improve this page" box is missing from some of the pages, including the Tutorials (8 of 9) and How to Manual page (6 of 9)

I assume that's just because this is a draft mockup, and it would go at the bottom of those pages. If so, please close this issue. :-)

[2017-01-27 04:01] shawna-slh opened #43 "Design Mockups: Recognition of WAI and W3C [strong]"
Please read/skim: [Design Parameters](https://www.w3.org/WAI/EO/wiki/Design_Parameters)

For input:
* How does this visual design reinforce WAI brand and strong relationship with [W3C](https://www.w3.org/)?
* Any suggestions for strengthening WAI brand and W3C &mdash; while being awesome, modern design? :-)

[2017-01-27 06:18] brewerj commented on #38
I was wondering about this issue when viewing the design mock-ups. Could Alicia help explain the pros and cons that she sees with regard to left-side vs right-side nav, at least for left-to-right scripts? (Obviously this positioning might be reversed for right-to-left scripts.) From my perspective, the right-side nav gives a cleaner look to the page, but it seems less obvious, and more likely to b

[2017-01-27 15:19] haltersweb opened #44 "Consider font-weight and font-family"
1) font-weight:
* Minimum font weight for text to be readable is 400 (rely on the font-weight numbers rather than names like "regular" or "book")
* For very large text >24px you can get away with 300.  But its contrast ratio minimum must be 4.5:1.
* See the second chart "Font Weight and Contrast" on my page about fonts here: http://haltersweb.github.io/Accessibility/font-sizing-and-contrast.html

[2017-01-27 15:22] haltersweb opened #45 "Code snippet colors against background"
Using code snippet syntax coloring is very important.  I'm so glad to see it here.

But the different syntax colors might cause contrast problems against the gray.

You could test all the colors, but...

...another option would be to have a button at every code snippet that changes it to black and white.  That way you can maintain the semantic color that developers are used to while solving for lo

[2017-01-27 15:25] haltersweb opened #46 "Focus state design"
I would love to see a design for the focus states for everything from navigation to links and buttons.

Remember you need unique look and feel for 4 focus states for things like navigation or radio buttons/check boxes:
* not-active focused
* active focused
* not-active not-focused
* active not-focused

[2017-01-27 23:41] James-Green commented on #39
I don't agree [strong] that "we want to meet AAA for contrast ratios."  Our original [design parameters](https://www.w3.org/WAI/EO/wiki/Design_Parameters) did not call for AAA and I'm curious what type of criticism w3 and wai sites have received to date for pages that currently don't meet AAA.

[2017-01-30 19:34] bakkenb commented on #37
+1 to a border on these buttons. Not a strong overwhelming border though, just enough to make the buttons stand out a bit more.

[2017-01-30 20:03] bakkenb commented on #38
Level: [medium-strong]

I like the in-page navigation much better on the left side, rather than the right side.

Rationale:
(A) I believe people will quickly become familiar with the top overall site navigation. It will not change from page to page, and could even stay present when using tools like the quickref or the tools list (the latter is left for a separate discussion). When presented with a

[2017-01-30 20:16] bakkenb opened #47 "Design Mockups: Text and Background Combinations (minor error)"
Minor fix...

On the [Text and Background Combinations pallets](https://projects.invisionapp.com/share/H299QZZGZ#/screens/215895933), the visual color of the black background box for the "yellow on dark grey" combination is the wrong color. The hex code is correct, the contrast ratio is correct, but the color used in the box is actually #1D1D1D instead of #3B3B3B.

Please adjust the color visually

[2017-01-30 20:25] bakkenb commented on #40
I am okay with the blue color for heading level 3. They use a very similar color all over the [WCAG 2.0 recommendation page](https://www.w3.org/TR/WCAG20/), and elsewhere I assume, so I don't see it as a problem. I think this was more of an issue back in the early stages of the internet. Open to others thoughts though.

[2017-01-30 20:56] bakkenb commented on #43
Good point @slhenry. I believe that the design supports a strong relationship to the W3C as the colors are fairly similar and the design is cleaner.

What I am confused about is what the WAI brand was. To me there was not a strong branding to the WAI site. In a few cases, colors changed with some resources, What was consistent was to top banner, which I think most feedback was a desire to moderniz

[2017-01-30 21:00] bakkenb commented on #45
I like the option that Adina is suggesting (if it is not to difficult or time consuming to incorporate. Also as long as it does not add to the clutter or complexity of the pages. Giving people these choices are good, but I don't want to sacrifice our streamlined look and feel or add too much complexity to the site.

[2017-01-30 21:14] bakkenb opened #48 "Design Mockups: The Plan for Anchors and Back to Top links"
[strong]
In some of the current resources, there are a lot of anchor links and "back to top" links throughout. Will that functionality remain in the new design? If so, I would like to see a mock-up of how those would look visually so that they could be implemented consistently throughout the site.

[2017-01-30 23:04] yatil commented on #42
Yeah, all the components can be used on all pages and in all columns. I’ll make sure that they are implemented in a flexible way.

[2017-01-30 23:05] yatil commented on #41
I support this. <del>The box might also be on the right side of the page.</del> (Resolved for me in #38.)

We would need a title for the `<nav>` element anyway and why shouldn’t we display it, too?

[2017-01-30 23:56] yatil opened #49 "Design Mockups: Font sizes"
* The font size in the footer should be at least 14px. It appears that it’s smaller.
* I think in general for me the font size could be larger, but that’s a personal preference.

[2017-01-31 00:01] yatil opened #50 "Design Mockups: Ideas for fly-out menu on sub pages?"
As some people can’t use fly-out menus, so clicking on the main menu item should either

1. keep the fly-out menu in place or
2. open a sub-page with the fly out menu inline.

[2017-01-31 00:02] yatil opened #51 "Design Mockups: Font h4, h5, h6"
I’d like to see h4, h5 and h6 – we really use them sometimes :-o

[2017-01-31 00:04] yatil commented on #48
+1

[2017-01-31 00:06] yatil commented on #45
I agree. Also it is not to much of an hassle to test the colors and make sure they all conform.

[2017-01-31 00:09] yatil commented on #44
Note that we also want to limit the download size of every font we’re using. So normal, italic, bold and bold italic might be all we need. I think we don’t need to use thin (≤300) font weights.

[2017-01-31 00:21] yatil opened #52 "Design Mockups: Font choice"
I am not 100% fond of the font. It is very rounded and it has some undesirable features:

* uppercase i and lowercase L look the same
* d, p, and q are essentially mirrored versions, which is hard to read for people with dyslexia
* I wonder if the font supports international charsets? Korean, Chinese, Japanese?

A good way to test is to use the “agjJlLiIqbd69” characters – they should be easily di

[2017-01-31 12:59] lakeen commented on #51
+1

[2017-01-31 13:01] lakeen commented on #48
+1

[2017-01-31 13:10] lakeen commented on #45
I vote for testing the colors to keep it simple.  We're only talking about 3-4 tests.

[2017-01-31 13:20] lakeen commented on #43
+1 to Brent's comments about the look and feel of the new design.  I think Alicia is doing a really good job complimenting the W3C look and feel.

The second part of Brent's comments is talking about logo design/brand identity which a big effort.  In my opinion, if done right should include the W3C and all of its properties.

[2017-01-31 13:58] lakeen commented on #38
+1 to Brent - [strong]

[2017-02-01 10:33] AndrewArch commented on #52
[strong]
agree - a font that better differentiates between similar shaped characters would be better

[2017-02-01 10:35] AndrewArch commented on #48
+1 from me too

[2017-02-01 10:42] AndrewArch commented on #37
as they are links (?) they should be styled as links rather than buttons imho

[2017-02-01 10:45] AndrewArch commented on #49
On a related note, is the H3 the same size as text? While a different colour and weight, I'd also prefer a slightly larger size, especially as the colour has a low contrast with the text colour.

(seems to be related to #40)

[2017-02-01 10:56] yatil commented on #37
@AndrewArch They are call-to-action links. Basically the button-y shape signals a change of context (Opening the mail app, going to GitHub).

[2017-02-01 11:21] AndrewArch commented on #37
@yatil, all the same they're still links to other pages aren't they? (apart from the email one that might open an email application - which is problematic by the way for many who use web-based email)

That said I can almost accept some button styling but not sure about a 'button' element. (See [Marcy Sutton's discussion](https://marcysutton.com/links-vs-buttons-in-modern-web-applications/).)

[2017-02-01 11:28] yatil commented on #37
They will be `<a>` elements (as they are in the tutorials and other documents right now). It’s just the look :-)

(Good call on the email one, we might to look into if we can do something that works – better? –  with web-based email, but I doubt it.)

[2017-02-01 13:02] yatil commented on #39
I think overall the colors have enough contrast, there is only one combination that does not meet 7:1, and that is the [#00666F on #FAFAFA](http://leaverou.github.io/contrast-ratio/#%23FAFAFA-on-%2300666F) which is 6.4:1 – still way more contrast than the AA minimum criteria, and it’s only used sparingly around the page and – in headings – in an enlarged font.

[2017-02-01 13:07] yatil commented on #43
I would totally know what that “WAI Brand” actually is. Is it the colors, the fonts, the logo (in which case that is design). I have sent a longer email with detailed questions some time ago to determine what that “Brand” actually is or which components are perceived as ”the WAI Brand”. I think a cohesive style, playing off the W3C style is much more important than consistency with the (somewhat i

[2017-02-01 16:59] brewerj opened #53 "Design Mockups: Seems like a dull background"
Generally looking good, but I'm seeing mainly a blue-gray background, rather than an off-white or other lighter background, for the primary content areas. This is giving an overall dull visual impression, IMO.  - Judy

[2017-02-01 18:15] James-Green commented on #37
Alicia will look at adding a thin border with a contrast ratio of 4.5:1 and _potentially_ adding an underlined focus state as well.

[2017-02-01 18:25] yatil commented on #38
I don’t feel strongly left or right nav. If the in-page navigation is on the left and also sub-pages can be linked on the left, it can be confusing if both elements look too similar.

[2017-02-01 18:27] James-Green commented on #38
resolution to leave on left.

[2017-02-01 18:29] James-Green commented on #39
resolution to leave contrast ratios as is.

[2017-02-01 18:33] James-Green commented on #40
resolution to change H3 color to match same color of H1 and H2.

[2017-02-01 18:33] #38 closed, assigned to nobody

[2017-02-01 18:35] yatil commented on #40
(Just noting that the TF did not think that it’s a problem as we are underlining every link in the content, and so it would be clear that the non-underlined blue headings would be no links. But now it is clear anyway.)

[2017-02-01 18:39] sharronrush commented on #43
The new design matches the W3C brand much more effectively than the old one

[2017-02-01 18:42] James-Green commented on #43
resolution, the TF feels that the design does support the brand and connection to W3.  no changes now as it is out of scope, but may consider an "icon" like Brent mentioned (CR or LOC) during a true re-branding effort in the future.

[2017-02-01 18:42] #43 closed, assigned to nobody

[2017-02-01 18:52] James-Green commented on #45
Resolution: Eric and Caleb will put the prototype together and Alicia will review the colors that come out.  No button to switch to black and white, we'll pick a palette that passes AA.

[2017-02-01 18:52] #45 closed, assigned to nobody

[2017-02-01 18:53] James-Green commented on #46
alicia will design these.

[2017-02-01 18:53] James-Green commented on #47
alicia will fix

[2017-02-01 18:57] James-Green commented on #48
alicia will look at back-to-top links design.  anchors seem to be covered by in-page navigation.

[2017-02-01 18:59] yatil commented on #44
From the meeting:

* WCAG 2.0 has no provision on less than normal text, so one _could_ argue we can’t use it. (I don’t.) Or we need to have a larger color contrast to meet WCAG 2.0.
* Font with less weight will be ok on higher resolution (Retina) displays but can be harder to read on non-retina screens. We might be able to send the thinner font only to retina screens.

Best is to come up with a p

[2017-02-01 19:02] James-Green commented on #49
alicia will bump up the size of "status draft and editors:" to match that of footer (dark gray background) text.

[2017-02-01 19:04] James-Green commented on #49
alicia will consider andrew's comment when she looks at the fonts.

[2017-02-01 19:21] James-Green commented on #52
TF (Eric) to provide alicia requirements for another font that will meet all needs that are not being met by current font (by Friday 2/3)  then she can mock up some alternative designs.

[2017-02-01 19:22] James-Green commented on #51
alicia will mock up

[2017-02-01 19:29] James-Green commented on #50
table until we discuss the IA.

[2017-02-01 19:35] James-Green commented on #53
resolution: TF feels the background is good.  no changes.

[2017-02-01 19:35] #53 closed, assigned to nobody

[2017-02-01 23:20] yatil commented on #52
Here are the requirements for fonts. We might not be able to check off all the points, which is OK, but we should try to make an effort:

* **Readability.** To cater for different cognitive disabilities, like dyslexia, it is important that glyphs are easy to distinguish – especially easily confused glyphs like qp and db and Il. A good way to get an impression is to look at the following characters

[2017-02-02 17:54] shwetank commented on #52
I second the noto suggestion, from an i18n perspective.

[2017-02-06 20:50] shawna-slh opened #54 "W3C Systeam code review"

[2017-02-06 21:15] yatil commented on #54
I sent preliminary info to @tguild.

[2017-02-07 22:01] brewerj commented on #39
I'm unclear why this issue was closed; I see the resolution to leave contrast ratios as is, but not a reason for doing so (which can help clarify whether there might have been misunderstandings, or info missing.)

 My understanding is that the design guidelines say: "Meet or exceed WCAG 2.0 accessibility requirements (Level AA at minimum with AAA as possible)." So if AAA isn't possible, we wouldn'

[2017-02-07 22:19] yatil commented on #39
I don’t know what specific instance I shall provide, the contrasts are on the first page of the styleguide: https://projects.invisionapp.com/share/H299QZZGZ#/215895933_Colors

The problem is that you also want a distinction between different heading colors, to guide the view. If they all have the same weight (read: the same contrast), the page will appear with more weight and might even be harder

[2017-02-08 00:03] James-Green commented on #39
@brewerj I think you may be interpreting the Design Parameters differently than we are.

To me, " …AAA as possible, _period_," is different than "…AAA as possible, _given our other requirements and constraints_"

From your description, it sounds like the criticism received in the past hasn't been too harsh, but rather encouraging us to go farther when _not literally, but realistically_ possible.

[2017-02-08 04:43] brewerj commented on #39
Hi Eric and James, thanks for your replies.

Eric -- yes the link helps. I'm not immersed in the site the way you are.

Looking back at Shawn's original comment here, and the color blocks, I wonder if a simple solution might be to annotate the non-AAA color contrast with a note saying that those are "only for large-scale text and images of large-scale text," (the exception language from Techniques

[2017-02-08 18:04] yatil commented on #39
I just played around with the color palette: If we move 7 bit down in the green color [from dec(102)/hex(66) to dec(95)/hex(5F)] the contrast is 7.01:1 and I say #00666F and #005F6F are visually indistinguishable (at least not when you see them side-by-side):

![Old color on the left, new color on the right.](https://cloud.githubusercontent.com/assets/58862/22750276/7a41f1b4-ee30-11e6-8b7a-98ffee9

[2017-02-08 19:54] yatil commented on #52
Here’s a test page with the Rubik font in all the colors and different weights (300/500 and 400/700 for normal and bold, respectively) to help us decide:

https://yatil.github.io/wai-colors-font-test/

I find the font to be growing on me, I think the contrast is sufficient (and will be even better when we come to a consensus on #39, I hope). I think the thinner font combination (300/500) works wel

[2017-02-08 22:00] charlottehwise commented on #17
Changes I am making to the IA:

- I have folded the Accessiblity, Usability, and Inclusion doc draft into Understanding Accessibility. This content is great!
- I have added an Archive link to the main site footer where items which need to be findable via search, etc. can be included but which no longer need a space in primary or secondary nav.
- I have also deprecated the WCAG 1.0, ATAG 1.0, UAAG

[2017-02-17 14:16] yatil opened #55 "Disclaimer"
A common way to show disclaimers:

* Potentially with (optional) expand/collapse functionality
* Potentially alternative layout for more important (legal…) disclaimers.

(Came up in w3c/wai-policies-prototype#1, also applies to http://github.com/w3c/wai-eval-tools.)

[2017-02-22 17:46] shawna-slh opened #56 "List of existing H1s (with their URIs) from sitemap, with Charlotte-suggested titles"

[2017-02-23 15:01] aliciafrausto commented on #47
fixed

[2017-02-23 15:02] aliciafrausto commented on #40
fixed

[2017-03-08 18:48] James-Green commented on #27
visual design complete

[2017-03-08 18:48] #27 closed, assigned to yatil, shawna-slh

[2017-03-08 18:48] James-Green commented on #26
visual design complete

[2017-03-08 18:48] #26 closed, assigned to yatil, shawna-slh

[2017-03-08 18:49] #17 closed, assigned to nobody

[2017-03-08 18:49] #16 closed, assigned to nobody

[2017-03-08 18:49] #15 closed, assigned to nobody

[2017-03-08 18:50] #33 closed, assigned to yatil, shawna-slh, lakeen

[2017-03-08 18:54] #56 closed, assigned to vuxcaleb

[2017-03-08 18:57] James-Green commented on #30
we will be looking at icons later as we clean up the content rather than creating an icon set.

[2017-03-08 20:13] slhenry commented on #52
related issue https://github.com/w3c/wai-website-design/issues/44

[2017-03-08 20:21] shawna-slh commented on #52
@yatil As Brent mentioned in the call today, it would be helpful in the prototype to have real text (rather than just Lorem ipsum) so we can actually *read* some text in order to help evaluate readability. :-)

[2017-03-08 20:34] shawna-slh commented on #52
If I am seeing things correctly in the test page, the only sans serif fonts that distinguish lowercase l and uppercase I are Nobo Sans and Raleway. Nobo Sans is excellent for internationalization. Unless anyone has other suggestions that better meet the readability and internationalization criteria, I assume we go with Nobo Sans.

(For the record: I personally do not have strong feelings about the

[2017-03-08 22:46] shawna-slh commented on #44
Prototype and more discussion in https://github.com/w3c/wai-website-design/issues/52

I hope OK to close this separate issue. Please re-open if not. :)

[2017-03-08 22:46] #44 closed, assigned to nobody

[2017-03-08 22:49] shawna-slh commented on #52
/me put together a simpler page for review: http://htmlpreview.github.io/?https://github.com/w3c/wai-website-design/blob/master/font-check.html

[2017-03-09 14:21] johnfoliot commented on #52
Greetings EO.

Overall, I agree that the **Noto Sans** font works well as demonstrated on the test page Shawn posted.
I am more concerned however with the line-height, and specifically the "space" between the lines. Can we see more line-height introduced into the sample?

[2017-03-09 15:46] dboudreau commented on #52
I have no strong feelings against Noto Sans either. If we can agree that this one is good for i18n and readability, then I'm fine with that choice as well. While it's an important decision to make, I'm just hoping we don't turn the font selection process into a 6 month debate. From the perspective of WCAG, SC 1.4.8 requires a minimum of space, which we don't seem to be following at the moment. Lin

[2017-03-09 16:27] shawna-slh commented on #52
In order to help evaluate the font now, I changed main line-height to 1.5 (and put 1.35 in one section for comparison). I have not tweaked any other spacing for now. I expect that the final design will have different paragraph spacing, list spacing, etc.

[2017-03-09 16:34] yatil commented on #52
I see the body text in @slhenry’s mockup is only 13.6px (85%) which is very small. I would really prefer 16px, which would be in line with more readable, bigger fonts that are used in editorial content on the web. As for other measurements, they will change with the font. (Good to point to 1.4.8, @dboudreau, while this is a AAA level criterion, we can do it – however it depends on the font if a li

[2017-03-09 16:41] shawna-slh commented on #52
Body text size is not yet determined -- will err on larger for sure!

/me not good judge of that since have larger fonts in various settings. Currently it looks too big to me, so it must be picking up more settings than usual.  ;-)

@yatil please feel free to change it to better size.

[2017-03-09 16:43] dboudreau commented on #52
/me agrees we should err on the side of a larger font size. If designed properly, it will not feel awkward at all.

[2017-03-09 16:43] shawna-slh commented on #52
+1s on this font from 8 people in Low Vision Task Force https://www.w3.org/2017/03/09-lvtf-minutes.html

[2017-03-09 16:44] dboudreau commented on #52
@slhenry That's all I REALLY needed to hear. I'm sold. That was my Jerry Maguire moment of the day, and you are my Tom Cruise. ;)

[2017-03-10 02:50] shawna-slh commented on #52
via [e-mail](https://lists.w3.org/Archives/Public/public-wai-eo-site/2017Mar/0007.html) :

[2017-03-10 09:23] koalie commented on #52
+1
I don't have any issues with Noto Sans. Thanks for working on this!
I wonder, can this exploration benefit the rest of the w3.org website?

[2017-03-10 13:56] johnfoliot commented on #52
@Coralie...

oh, please! :D

JF

On Fri, Mar 10, 2017 at 3:23 AM, Coralie Mercier <notifications@github.com>
wrote:

--
John Foliot
Principal Accessibility Strategist
Deque Systems Inc.
john.foliot@deque.com

Advancing the mission of digital accessibility and inclusion

[2017-03-10 14:08] shawna-slh commented on #52
+1s on this font from all in EOWG topic today (and support for 1.5 line-height)  https://www.w3.org/2017/03/10-eo-minutes.html

[2017-03-10 14:12] shawna-slh commented on #52
@koalie Yes! From all I've learned, I think Noto would be an excellent font for w3.org
(and it would be good if main w3.org and WAI sub-site used same font)

[2017-03-10 14:20] koalie commented on #52
@tripu ping?

[2017-03-10 15:14] tripu commented on #52
:+1: to a more accessible and modern font, and :+1: to using it in as many places within w3.org as possible!

I don't know about the particular merits of Noto Serif, but @yatil has a point about the absolute need for different glyphs to be distinguishable, this one [looks elegant and professional](https://typecast.com/preview/google/Noto%20Serif) and its licence [seems permissive and open enough](

[2017-03-10 16:41] yatil commented on #52
@all \o/

@tripu

For our audience, we should go with [woff2](http://caniuse.com/#feat=woff2) and [woff](http://caniuse.com/#feat=woff) formats which are wildly supported. Browsers that have no support can safely fall back to sans-serif.

It would be good to have them on some sort of CDN, but the footprint is relatively small anyway and the fonts are well-cached locally. The Filament Group has a g

[2017-03-10 18:38] rydbergkevin commented on #52
+1, and +1 on the font-size discussion as well.

[2017-03-15 13:00] shawna-slh commented on #52
Noto Sans decided!

Lots of +1s and no concerns from:
* W3C Communications Team
* WAI staff (including Judy Brewer)
* Low Vision Task Force (LVTF)
* Cognitive and Learning Disabilities Accessibility Task Force (COGA)
* EOWG
([8 March e-mail](https://lists.w3.org/Archives/Public/w3c-wai-eo/2017JanMar/0047.html))

[2017-03-15 13:00] #52 closed, assigned to nobody

[2017-03-15 13:55] shawna-slh commented on #28
1. Done: [11 Jan e-mail on prioritizing pages for metadata](https://lists.w3.org/Archives/Public/public-wai-eo-site/2017Jan/0004.html)

2. +1 for meta data on draft documents so they don't come up
I think this will be **second phase activity, not a top priority for now**.
I think once we are diving into implementing the metadata, we can do that as we go. A good place to start is: [/EO/Drafts searc

[2017-03-15 19:23] gosko commented on #52
Hi, please excuse my butting in (late); @tripu mentioned this on our call today.

I just wanted to +1 a larger font size — I have always thought that most text on any given web page should be left as the reader's preferred size, i.e. font-size: 100%. (or even better, just left unspecified)

It seems fine to use smaller text for things you want to de-emphasize such as footers or image captions.

[2017-03-15 21:19] shawna-slh commented on #52
deleted from CSS body	font-size: 83%;
-- so now unspecified. :)

[2017-03-15 21:40] shawna-slh opened #57 "Navigation idea"
**Here is a [Navigation idea (straw proposal)](http://htmlpreview.github.io/?https://github.com/w3c/wai-website-design/blob/master/nav-idea.html)** based on:
* Alicia's visual design ([teaked verison for Nobo Sans fon](http://htmlpreview.github.io/?https://github.com/w3c/wai-website-design/blob/master/font-check.html)t)
* Charlotte's IA drafts ([pdf](https://lists.w3.org/Archives/Public/public-wai

[2017-03-15 21:56] shawna-slh commented on #57
If we want to refine this idea, here are some thoughts and questions:

1. **Implement \ Tutorials, Tips, Examples** -- When the Components list is done, maybe put Examples as it's own sub-section?

2. **Implement \ How to reference the guidelines and How they are developed** -- I put these there here because they are directly related to the Guidelines; however, they are not directly related to Imp

[2017-03-15 22:20] shawna-slh opened #58 "Navigation coding"
Hey, @vuxcaleb (& @yatil ), what do you think about getting going with coding the navigation?

I think it would be very useful to have that in place for working on the IA/nav refinement and for usability testing! It's so much easier to look at navigation ideas in a prototype rather than a static outline.

Note this related issue: https://github.com/w3c/wai-website-design/issues/50

[2017-03-17 11:42] tripu commented on #52
I have written [W3C-Noto](https://greasyfork.org/en/scripts/28208-w3c-noto), a little user script that runs on every page matching the pattern `http[s]://[*.]w3.org[/*]` to load the font from Google and append these rules:

[code]

Details after the fold.

This is just for volunteers to test the change throughout the W3C site for a few days; it is a brute force approach that may cause oddities in

[2017-03-22 17:13] shawna-slh commented on #30
Re-opened on 22 March telecon by Sharron, Caleb, and all.

[2017-04-05 14:10] aliciafrausto commented on #55
Mockup shows:
- A legal/very important disclaimer as a sidebar
- A less important disclaimer that is included in the footer

https://visa.invisionapp.com/share/YPAVCUZA9#/screens/223719157_Page_Layout_-_Sidebar

[2017-04-05 14:27] aliciafrausto commented on #51
invision mock:
https://visa.invisionapp.com/share/YPAVCUZA9#/screens/223719078

zeplin, for dev: https://zpl.io/ZyIDQg

[2017-04-05 14:28] aliciafrausto commented on #49
footer text bumped up:
https://visa.invisionapp.com/share/YPAVCUZA9#/screens/223719157

[2017-04-05 14:34] aliciafrausto commented on #48
I added a back to top link here, but I've seen some nice-to-use floating style Back to Top links, I'm wondering if that is an implementation we should explore?
https://visa.invisionapp.com/share/YPAVCUZA9#/screens/223719157

[2017-04-05 14:36] aliciafrausto commented on #46
I also need to add overstate specs to some elements

[2017-04-05 14:46] aliciafrausto commented on #41
I think adding this title this may be over-explaining and add cognitive clutter, and we did discuss this on a call. Can't remember if the group decided it is okay to leave this off.

I will look at the link styling to see if I can increase how clickable they look.

[2017-04-05 14:51] aliciafrausto commented on #37
I had to switch the styling up a bit to get this to look good (border did not look good). Went with green button + white text

https://visa.invisionapp.com/share/YPAVCUZA9#/screens/223719157

[2017-04-05 14:51] #51 closed, assigned to nobody

[2017-04-05 14:52] #49 closed, assigned to nobody

[2017-04-05 14:55] James-Green commented on #48
I like the idea of a floating link, let's discuss next week.

[2017-04-05 14:56] #47 closed, assigned to nobody

[2017-04-05 14:56] #42 closed, assigned to nobody

[2017-04-05 15:00] James-Green commented on #41
We will discuss title next week, as well as Alicia's ideas for more clickyness

[2017-04-05 15:00] #40 closed, assigned to nobody

[2017-04-05 15:04] James-Green commented on #39
alicia will do this next week

[2017-04-05 15:05] #37 closed, assigned to nobody

[2017-04-05 15:23] aliciafrausto commented on #48
Added an example of floating style back to top link to invision mockup above.

[2017-04-05 15:47] aliciafrausto commented on #39
Updated all greens in text to #005A6A

![image](https://cloud.githubusercontent.com/assets/18702859/24714126/3cc857b8-19ed-11e7-8e1e-49df72576a9e.png)

![image](https://cloud.githubusercontent.com/assets/18702859/24714145/4e5394d4-19ed-11e7-9d39-f3faa2e75934.png)

[2017-04-05 16:50] aliciafrausto commented on #46
Updated mocks

Plan for focus states for buttons and links:
Focus (Hover state + default browser styling, per G165. Example is mocks similar to mac/chrome )

Question about radio buttons - is best practice also to use browser default states?

[2017-04-05 17:05] yatil commented on #58
https://w3c.github.io/wai-website-components/components/preview/full-example.html

[2017-04-05 17:11] shawna-slh commented on #50
/me not think dependent on IA... It's a UI issue regardless of IA

[2017-04-05 17:15] #55 closed, assigned to yatil

[2017-04-05 17:17] shawna-slh commented on #55
Great first start. Let's see later when we polish the visual deign and look at specific content, if we want any tweaks.

[2017-04-05 17:26] James-Green commented on #32
alicia to find a page-level location for a language dropdown that will allow users to quickly change the language of a given resource.

[2017-04-05 17:28] yatil commented on #39
Thanks. Note that you don’t need to update the source documents anymore, I can just update the color in the CSS file :-)

[2017-04-05 17:41] #48 closed, assigned to nobody

[2017-04-05 17:49] #46 closed, assigned to nobody

[2017-04-05 18:01] #39 closed, assigned to nobody

[2017-05-03 17:16] James-Green opened #60 "Define Tasking for each track"
Alicia - Visual
Charlotte - IA
Eric and Caleb - technical
Sarah - Content

[2017-05-03 17:17] James-Green opened #61 "Figure out how we publish new site while keeping old content around"

[2017-05-03 17:19] James-Green opened #62 "update F2F agenda"

[2017-06-14 16:57] #62 closed, assigned to James-Green

[2017-06-14 16:58] yatil commented on #61
Shawn and I had some talks around this today, but nothing substantially yet.

[2017-06-14 16:59] yatil commented on #58
Did some more work on the navigation area today, but there is an open issue for the meeting :-)
https://github.com/w3c/wai-website-components/issues/8

[2017-06-28 16:30] shawna-slh opened #63 "Home page - questions"
https://visa.invisionapp.com/share/YPAVCUZA9#/screens/234693428_Home_Page

Overall, love it!!!

Questions:
1. What are the four boxes currently labeled Audit, Design, Develop, Laws? And there are controls to show more…
2. Will that first big image change with each featured resource?
3. Why is "See All Perspectives Videos" colored text on white button, when all others are opposite?

[2017-06-28 16:31] shawna-slh opened #64 "Home page - footer big nav?"
Nav – what about having a big nav in footer? I see that done fairly commonly these days, and I do find myself using it. Given our biggest issue is getting people to know about and find the breadth of WAI resources, it seems that might be a good idea.

[2017-06-28 16:34] shawna-slh opened #65 "Home page - What is WAI & above the fold"
I have mixed reactions to seeing above the fold only the nav and the one first section.
Pro: nav gets more attention.
Con: "What is WAI" is below the fold.

Also, "What is WAI" is static; whereas most of the other content is changing. Therefore, I wonder if "What is WAI" should have different visual treatment and visual placement? Maybe top right under nav?

[2017-06-28 16:34] shawna-slh opened #66 "Home page - no "learn more" links"
Don't need (or want:) "Learn more" links anywhere. We'll use in-line links, as currently in https://www.w3.org/WAI/#highlights

[2017-06-28 16:36] shawna-slh opened #67 "Home page - featured video"
I like that "Feature Resource" and "Tip of the Day" make it clear that these are changing sections. How about do a similar thing with the Perspectives Videos? Maybe change "Web Accessibility Perspectives" to "Featured Video"? (And hopefully in the future we'll have Easy Checks Videos for there, too. :-)

[2017-06-28 16:37] shawna-slh opened #68 "Home page - sponsors & funders"
Sponsors and Funders laid out as is was confusing. It took me a while to figure out that it is a 2-column list organized alphabetically.  Would be good to do differently so that it doesn't look like some are higher than others. Also, fyi, we hope to use logos for most of those in the future.

[2017-06-28 16:38] shawna-slh opened #69 "Home page content requirements"
Current design requires the following content:

* Featured resource – image, icon, and text

* Tip of the day – can be pulled from Getting Started Tips for a few months, and might need to be edited to fit in home page context.

* ?Middle boxes (currently labeled Audit, Design, Develop, Laws) – potentially large amount of work, depending on what these are…

* Perspectives video – we have 10 and don

[2017-06-28 16:57] bakkenb commented on #69
Strongly recommend changing this to Tip of the Week.

From previous experience, Tip of the day will never be maintained adequately and many will miss the tips if they are changing too often. I can speak more of this experience in the Task Force meeting.

[2017-06-28 17:20] yatil commented on #69
* Resources will get icons over the time
* +1 for saying it is Tip of the week, but I think it is no problem to recycle tips after several weeks.
* Same goes for the videos.
* For the middle that would just be like a one time decision what we want to promote…

[2017-06-28 17:25] shawna-slh commented on #63
From Alicia in 28 June telecon:
1. ways to funnel people with those directions.... an idea of what people might want to find... idea from Caleb and Charlotte. ... will define more with new IA... [this is new content]
2. would be good.
3. primary and secondary buttons.
[slh: like idea primary or secondary; although people might be confused by thinking unavailable].

[2017-06-28 17:25] #63 closed, assigned to nobody

[2017-06-28 17:26] shawna-slh commented on #68
Alicia: logos would be great

[2017-06-28 17:27] yatil commented on #65
*cough* [There is no fold](https://www.lukew.com/ff/entry.asp?1946) *cough* ;-)

[2017-06-28 17:27] shawna-slh commented on #67
Alicia: OK.

[2017-06-28 17:33] yatil commented on #64
Examples:
* https://www.microsoft.com/
* https://www.att.com

[2017-06-28 17:36] yatil commented on #64
Good idea; we can iterate on it when we are further along the development.

[2017-06-28 19:37] shawna-slh commented on #64
more examples:
* http://www.adobe.com/
* https://www.verizonwireless.com/
* https://www.amazon.com/

It is very common these days.

[2017-08-02 17:42] James-Green commented on #68
TF agreed Alicia to design for text, if we get logos, we'll do that as available.

[2017-08-02 17:42] bakkenb commented on #67
+1

[2017-08-02 17:50] James-Green commented on #61
Eric and Shawn are exploring with W3C team and will get back to the TF soon.

[2017-08-02 17:51] James-Green commented on #60
done

[2017-08-02 17:51] #60 closed, assigned to James-Green

[2017-08-02 17:51] James-Green commented on #57
comments incorporated into current IA.

[2017-08-02 17:51] #57 closed, assigned to yatil

[2017-08-02 17:57] James-Green commented on #32
James and Sylvie will be working through how this should work and get with Alicia when ready.

[2017-08-02 18:01] James-Green commented on #50
TF agrees on going with eric's option 1 above.  click on main item again closes menu, as does clicking outside menu.  if this ends up being problematic with prototype, we will readdress.

[2017-08-03 00:42] shawna-slh opened #70 "nav - distinguishing links/page titles, esp. when wrapped"
Some links/page titles will wrap, so need to have separator lines &/or bullets &/or hanging indents -- or something to make it clear what is a new title or not.

fyi, /me finds in current prototype it's a little hard to distinguish the items even without the wrapping issue

I think clearer separation of the items will improve usability and accessibility :)

(Existing WAI site uses lines, e.g., lef

[2017-08-03 00:48] shawna-slh opened #71 "nav - current page indicated"
e.g., when in the "Tips for Developing" page, and then drop-down the main nav, make it clear that is the current page.

If need more explanation or input, ask James and Brent.

(Existing WAI site has current page background match the main page background, and chevron -- e.g, left nav of https://www.w3.org/WAI/training/accessible )

[2017-08-03 01:30] shawna-slh opened #72 "spacing and proximity"
Let's do an awesome job of using spacing and proximity to improve accessibility and usability, including for people with cognitive disabilities. (<https://www.w3.org/WAI/gettingstarted/tips/designing.html#use-headings-and-spacing-to-group-related-content> :-) This will require some extra CSS for spacing.

1. Around headings -- more space above headings and less space after headings so there is cle

[2017-08-03 07:51] yatil commented on #72
Unfortunately this issue as well as the tip above do not have concrete information on what to do. I want to avoid a long back and forth with this, so how much space before and after would be preferred? 3rem before and 1rem after? I can try to make it visually pleasing, but a designer should have a better feel for spacing.

This always confuses me personally, I don’t know when to use what style and

[2017-08-08 20:46] aliciafrausto commented on #66
removed from mocks, updated zeplin link. @yatil Do you need to make this update anywhere?

[2017-08-08 20:57] aliciafrausto commented on #72
Currently, space above header is twice that of space below. https://visa.invisionapp.com/share/47CY9PQQU#/223719078_Text
Is the request to increase the difference further? Or does this work?

[2017-08-08 21:06] aliciafrausto commented on #71
updated mocks and zeplin link to show current page state.
https://visa.invisionapp.com/share/RUCY9YUQE#/223719150_Menu_-_Expanded
https://zpl.io/aRX95N2

[2017-08-08 21:20] aliciafrausto commented on #70
added lines between items
https://visa.invisionapp.com/share/RUCY9YUQE#/223719150_Menu_-_Expanded
https://zpl.io/aRX95N2

[2017-08-08 21:24] aliciafrausto commented on #67
Changed in mocks and zeplin, I think we can close this one.

[2017-08-08 21:33] aliciafrausto commented on #65
The mock matches the priority we made together in the workshop for the home page. If "What is WAI" moves up, keep in mind you will be moving the less static content lower on the page, which may not be what you intended. Or, we can break the full width featured row to only use 2/3 of the row, with the WAI definition in the right column. I think this will result in a more cluttered layout, so I woul

[2017-08-08 21:34] aliciafrausto commented on #64
we agreed to come back to this after the IA is completed.

[2017-08-08 21:52] #67 closed, assigned to nobody

[2017-08-09 05:26] VivienneConway commented on #64
I'd agree, provided there is a skip link or at least an ARIA landmark for the footer so that people don't have trouble navigating their way to the footer

[2017-08-09 06:47] yatil commented on #64
Note that the footer navigation on adobe.com, for example, does not have the same links as the main navigation. I think this pattern is OK for websites with thousands of pages where you want people to have quick access using the footer, but the WAI site is not such a site. :-)

[2017-08-09 07:54] yatil commented on #72
I just noted that I had not added @aliciafrausto’s spacing to the headings. I have now done that, see the result, for example here: https://w3c.github.io/wai-website-components/components/preview/example-generic.html

[2017-08-09 08:23] yatil commented on #66
I still see the read more links [in the Zeplin](https://app.zeplin.io/project/591da5955b71d83479c8abdd/screen/592839d4c012138d3c4fd010) – but no need to update it there, I can just make the edits in the HTML/CSS.

[2017-08-09 08:28] yatil commented on #65
I am against making changes like that right now. I think it is more important to tell people about accessibility than what about what WAI is (most probably don’t care much). Also, we have an “About WAI” link in the navigation.

Let me first build every page; we can then make changes if we feel it is important. People know how to scroll, the stuff visitors see at first glance is different on every

[2017-08-09 17:11] James-Green commented on #72
look good to TF

[2017-08-09 17:11] #72 closed, assigned to yatil

[2017-08-09 17:16] James-Green commented on #71
TF okay with yellow triangle as shown

[2017-08-09 17:16] #71 closed, assigned to nobody

[2017-08-09 17:18] James-Green commented on #70
Shawn suggests slightly darker lines and Eric suggest removing last line and maybe first (below heading) per Alicia's discretion.

[2017-08-09 17:44] shawna-slh commented on #69
Shawn will work on this, with Brent's help

[2017-08-09 17:45] James-Green commented on #69
TF discussed and Shawn and Brent will spend some time coming up with home page edits/strategy.

[2017-08-09 17:49] #65 closed, assigned to nobody

[2017-08-09 17:51] James-Green commented on #50
leaving issue open until we see prototype from Eric so we don't forget.

[2017-08-09 17:52] shawna-slh commented on #50
(leave open just so we remember to evaluate it from a usability & accessibility perspective)

[2017-08-09 17:53] shawna-slh commented on #41
https://w3c.github.io/wai-website-components/components/preview/example-generic.html has "Page Contents" so all good

[2017-08-09 17:53] James-Green commented on #41
in the prototype as of now

[2017-08-09 17:53] #41 closed, assigned to nobody

[2017-08-11 17:19] shawna-slh commented on #71
Discussion on 11 Aug of having only one level of nav per fly-out and having tertiary nav in additional fly-outs, as is https://w3c.github.io/wai-website-components/components/preview/example-home.html#

[2017-08-11 17:19] shawna-slh commented on #70
Discussion on 11 Aug of having only one level of nav per fly-out and having tertiary nav in additional fly-outs, as is https://w3c.github.io/wai-website-components/components/preview/example-home.html#

[2017-08-11 17:41] lakeen commented on #70
I believe it was also suggested to add  on focus underlines for a secondary nav item that is a link and > for secondary nav item that has a flyout.  See Microsoft site for example: https://www.microsoft.com/en-us/defaultb.aspx

[2017-08-12 00:16] shawna-slh opened #73 "[Nav EOWG] general on early August iteration"
Issue to collect comments on https://docs.google.com/spreadsheets/d/1pqcSChcWZwTShpov34jDfvX2E-jW6_M5khV38D53Qqk/

Put general comments here. <br>For specific comments, please:
1. see if an [issue already exists for the topic](https://github.com/w3c/wai-website-design/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20%5BNav%20EOWG%5D)
2. if not, create a [new issue with title "[EOWG-Nav]..."](https

[2017-08-18 16:00] notabene opened #74 "[Nav EOWG] Write and design: include Tutorials"
For _Write and Design_, the [nav featured on gspread](https://docs.google.com/spreadsheets/d/1pqcSChcWZwTShpov34jDfvX2E-jW6_M5khV38D53Qqk/edit#gid=660009004) mentions:

I would vote **for** including them in the menu as for other chapters they are included (consistency), also because it's easier for most people to look into a menu rather than browse a whole page.

[2017-08-21 07:48] VivienneConway opened #75 "Navigation - keyboard"
Hi all
This might not be appropriate here, but wanted to make a couple of notes.  I find that the top navigation is not operable via keyboard, while it is by mouse.  This might just be in the prototype, but thought I'd mentioned in just in case.

The other issue I'm seeing is that on my monitor's resolution (100%, text normal size), the navigation is all on top of each other and a real mess.  I'm

[2017-08-21 07:50] VivienneConway opened #76 "Link naming"
In the section with the icons 'audit, design, develop, laws &policies', can we please rename those links from 'learn more'?  Suggestion: learn more about audits, learn more about design etc.?

Regards
Vivienne

[2017-08-21 16:11] yatil commented on #75
Hi Vivienne,

the prototype is not yet keyboard navigatable as this is not the final navigation design and the Internet Explorer fallback is also not yet implemented. We’re working on it :-)

Eric

[2017-08-21 16:11] #75 closed, assigned to nobody

[2017-08-21 16:12] yatil commented on #76
Hi Vivienne,

the links are the complete sections, including the header. So the section the link links to is already included in the link and it is not the “classical” stand-alone “learn more” link.

Eric

[2017-08-21 16:12] #76 closed, assigned to nobody

[2017-08-21 16:14] yatil commented on #74
-1 as I find the tutorials to not have significant information for designers and writers. They are quite technical.

[2017-08-21 16:29] yatil opened #77 "[Nav EOWG] Links to Quickref"
As we are obviously deep linking into the quickref application from the main navigation, I think this might be disorienting for users as the URL has none of the categories in it.

However, there are other considerations:

1. How do we highlight the proper navigation? The quickref does not know if someone comes from the navigation menu or somewhere else on the web.

2. What would be the canonical p

[2017-08-21 16:34] yatil commented on #73
Almost all of the navigation options are still too long in my opinion. I don’t have good ideas for shortening them, but it is a lot of reading, and then the titles are still not clear.

[2017-08-22 04:04] VivienneConway commented on #76
Perfect, thanks Eric.  I just cringe every time I see ‘learn more’ – an automatic reflex (smiling)

Please be advised that I check my emails at approximately 9am and 4pm each day (more or less).  If you require assistance sooner, please feel free to telephone.

Regards,

Vivienne Conway, Ph.D., B.IT (Hons), MACS (Snr) CP, AALIA(CS)

Director

Web Key IT Pty Ltd

PO BOX 681 Wanneroo, WA 6946

Phone

[2017-08-22 09:14] notabene commented on #74
OK. Maybe after launch we could work on some designer- and writer-specific tutorials then.

[2017-08-22 10:28] yatil commented on #74
The tutorials (as they are now) were envisioned as a venue for developers, but I agree that we should have some more information about designing and writing for accessibility, apart from the tips.

[2017-08-22 13:04] notabene commented on #74
Closing for now. Let's talk about it after launch.

[2017-08-22 22:25] bakkenb commented on #77
I think I need more detail and discussion to process this issue. I get the nature of it, but need more explanation outside of this thread. Thanks for adding.

[2017-08-22 22:34] bakkenb opened #78 "[Nav EOWG] Approaches for Interim Repairs"
I am not sure I like "Approaches for Interim Repairs" under the main navigation of "Plan & Manage". This is not where I would look for a resource about doing some quick initial fixes to get me going.

That said, I am not sure where it should go elsewhere. Doesn't really fit in any other location either. So maybe leave it where it is. Just wanted to post this issue as it kind of sticks out to me as

[2017-08-22 23:41] shawna-slh commented on #78
Note that the content does not cover making the actual fixes. It's about planning and managing the fixes. :-)

+1 to not fitting anywhere else.

This might be a good candidate for one of the featured resource sections. (I'm not sure it's substantial enough for the top one, but maybe good for one of the middle ones.)

[2017-08-23 01:57] shawna-slh commented on #74
re-opening for now, so we see that there are opinions on it -- until we update the proposed nav to take out the questions. :-)

[2017-08-23 08:51] yatil commented on #78
+1

[2017-08-23 08:54] yatil opened #79 "[Nav EOWG] Where would main navigation links point to?"
In case of missing JavaScript or people just immediately clicking onto the main navigation items, we need to lead them to a website probably duplicating the sub-menu navigation. Any ideas on that?

[2017-08-23 12:53] bakkenb commented on #78
Good point. I am okay with it where it is after this point was made clear to me.

[2017-08-23 13:05] yatil commented on #78
What about naming it: Planning Interim Repairs or something like that? (or: Plan fixing accessibility bugs? bug fixing strategy?
)

[2017-08-23 14:00] nrhsinclair commented on #78
What about "Identify High Priority Issues" or  "Identify High Priority Issues and Fixes" or "Address Critical Issues"

[2017-08-23 14:23] shawna-slh commented on #78
See document content: https://www.w3.org/WAI/impl/improving

[2017-08-23 14:36] yatil commented on #78
For reference, here is the title discussion from 2016: w3c/wai-planning-and-implementation#63

[2017-08-23 14:49] bakkenb commented on #78
As I revisit the document and read through the content, I now have a better understanding of what this resource contains. I was initially under the impression that it was similar to Easy Checks, in so much that it would have tasks for someone to do to check accessibility and make fixes. However, upon deeper review of the resource, I now see that it is actually guidance for planning to making begin

[2017-08-23 17:19] shawna-slh commented on #79
/me assumes page replicating the navigation

possibly a single page for each -- except that to see the whole navigation, users would have to click and back button 9 times -- don't want that!

so probably have it all on one page, and deep link into the specific section they click on. Then they can scroll to see all of the nav on one page.

[2017-08-23 17:47] shawna-slh commented on #77
+1 for not a direct link -- so we'll need to figure out how to do it

We'll also need to work with AG WG and others about WCAG 2.1 through the redesign.

[2017-08-23 18:12] shawna-slh commented on #79
Note that the primary navigation will be simpler than the full site map...

(E.g., mobile sub-pages and older user pages not in main nav, but should be in full site map.)

[2017-08-23 23:39] vmmiller commented on #77
I think deep linking into Quick Ref from the main navigation could lead to confusion (different look, hard to get back, and for the newcomer, possibly, a little overwhelming).  I think along the comments of @yatil above.  I even wonder if it is possible to place such links in the secondary page rather than the main navigation menu.

[2017-08-23 23:56] vmmiller commented on #73
I find the following menu items too long and I think they are not simple/easy to understand:
- Interaction Design on how to meet WCAG
- Content Creation in How to Meet WCAG
- Visual Design in How to Meet WCAG Reference
- Developing in How to Meet WCAG Reference

Others which are too long and could perhaps be shortened:
- Developing Accessibility Presentations & Training
- Web Accessibility Laws an

[2017-08-23 23:58] vmmiller commented on #73
Probably, just needs to be fixed but let me signal it anyway:
The menu items on the far right are off my screen because they are too long.

[2017-08-24 00:04] vmmiller commented on #73
A bright side comment:  I really like the new design.  It's light, clear and refreshing.  I like the way the navigation is displayed, xyz & xyz.

However, I have a nagging problem.  For me, I think that "Standards/Guidelines" is not "evident" as it is not part of the main navigation whereas, in the old site, this was a clear link to this important - and well sought after - information.  In my opin

[2017-08-24 00:09] vmmiller commented on #73
Note:  "Perspectives Videos" is displayed as a link in the google spreadsheet whereas the online version says "Users perspective videos".  I think the latter is clearer than "Perspectives Videos".

[2017-08-24 00:23] vmmiller commented on #73
(Functionality/Fix It issue) Under "Test & Evaluation", hovering over "Evaluation tools", there is another level of navigation.  This level is lost for me, as the menu item is only partially visible on my laptop.

[2017-08-24 08:21] yatil commented on #79
I really, really don’t want to do that. It will be misleading as the user jumps to an anchor down the page and misses the navigation. It is also something that is not done on any other website. If they want to see the whole page navigation they can go to the sitemap (which does not need to have more information than the navigation by default, the rest can be in disclosures).

Also if all top-level

[2017-08-24 08:23] yatil commented on #77
We discussed that in the meeting yesterday and agreed that we want to remove the links from the navigation and instead link from sidebar boxes or through other mechanisms.

[2017-08-24 08:23] #77 closed, assigned to nobody

[2017-08-24 08:24] yatil commented on #73
@vmmiller Yes, I know that the navigation is not fully functional yet, including the position on the screen.

[2017-08-24 14:17] #74 closed, assigned to nobody

[2017-08-24 14:19] shawna-slh opened #80 "[Nav EOWG] Standards/Guidelines lost"
From Vicki (in [general issue](https://github.com/w3c/wai-website-design/issues/73#issuecomment-324495711))

[2017-08-24 14:29] shawna-slh commented on #73
Thanks for the thoughtful review and input, Vicki!

I'm shortening a few of the items.

About the Perspectives Videos &mdash; The content is broader than *user* perspectives -- a key aspect is showing the additional benefits to website owners, which is related to business case. I'd rather not re-open the name of this unless people feel strongly.

I'm closing this issue, and moved one of your comme

[2017-08-24 14:29] #73 closed, assigned to nobody

[2017-08-24 18:16] vmmiller opened #81 "[Nav EOWG] Combine Implementation guidance in one menu"
I feel that "Write & Design" and "Code & Develop" could be combined into "Design & Develop".  There are reasons to support two separate menus but, at the same time, I think "Write and Design" is still lacking in such resources.

My question is:  could "Write & Design" and "Code & Develop" be combined into "Design & Develop"?
To fill the menu space used by "Write & Design", we could possibly "bring

[2017-08-24 19:01] shawna-slh commented on #80
Background: Judy had an overall comment about the new design and navigation not looking like a standards organization as opposed to a commercial company. She *likes* the modern design, yet feels the design, nav, and content needs stronger connection to W3C. She or I will make specific comments elsewhere.

Related to this issue:

I think moving Standards/Guidelines into the main nav might help a li

[2017-08-24 19:51] nrhsinclair commented on #78
As I have looked at this resource more and the proposed navigation (and title considerations) I also think this resource link is not in the right place. It should be moved further down in the list, either as an option in the Plan, Implement, Sustain list, possibly add Repair to this - Plan, Repair, Implement, Sustain or possibly move after "Involving Users for Better, Easier Accessibility". The cu

[2017-08-24 20:00] shawna-slh commented on #78
The intention was for this document to help people in the situation "Help! We have to make our website accessible and I don't even know where to start! I gotta do something now and fast!"

So these people will not yet be thinking about overall planning. The intention was for this to be the first place to start, and then when the fire is out, they can move onto bigger picture planning.

[2017-08-24 20:00] nrhsinclair commented on #81
+1 on Design & Develop

[2017-08-24 20:02] shawna-slh commented on #78
@nrhsinclair  - do you have specific suggestions for helping communicate that?

[2017-08-24 20:46] bakkenb commented on #80
Strong +1 to Vicki's comment and Shawn's Option (alt3) in the spreadsheet.

Once I saw what was proposed in the [new alternative 3 visual mockup](https://w3c.github.io/wai-website-components/components/preview/example-home-alt3), it struck me as odd that we were not including the standards/guidelines in the main navigation in earlier versions. It is one of the main parts of the site that people ar

[2017-08-24 20:56] yatil commented on #78
I think this document could also go in one of the four front page buckets… We’d have some more space to explain what it does and an icon could help. I don’t care where the document is in the menu. Maybe we could name the item “First steps towards an accessible website” (but shorter :-D).

[2017-08-24 20:57] bakkenb commented on #81
+1
There currently is not much sub-pages in these two main navigation categories. I think they look better combined and will probably simplify searching by main navigation for people looking for these types of resources.

Also, as stated in issue #80, I strongly agree with bringing "Standards/Guidelines" down into the main navigation so that it will be more visible (or less overlooked).

[2017-08-24 21:27] shawna-slh commented on #78
+1 for home page middle section

added to https://github.com/w3c/wai-website-design/issues/82

[2017-08-24 21:27] #78 closed, assigned to nobody

[2017-08-24 21:31] shawna-slh opened #82 "[Home page][content][images] Middle buckets"
Ideas:
* Accessibility Principles - because it's *really* helpful and we've never promoted it (or maybe this should be the top one, until Easy Checks is updated)
* [Web Accessibility First Aid: Approaches for Interim Repairs](https://www.w3.org/WAI/impl/improving)
* WCAG 2.1

[2017-08-24 21:32] slhenry commented on #78
https://github.com/w3c/wai-website-design/issues/82

[2017-08-25 00:10] shawna-slh commented on #70
@yatil - What about making the flyout boxes wider -- at least for the first few menu items? That would limit wrapping and make reading easier. :-)

[2017-08-25 00:14] yatil commented on #70
@slhenry It would also mean longer distance for the mouse when opening sub-menus. It’s a tradeoff. How much more space would be appropriate? 20% 50%?

[2017-08-25 00:19] shawna-slh commented on #70
Good point. Well, the sub-menus would open with no horizontal mouse movement, but longer mouse movement to open an item in a submenu. ;-)

/me too fried to think about it now... :(

[2017-08-25 10:58] lakeen commented on #81
+1 Design & Develop

[2017-08-25 15:43] shawna-slh commented on #80
Standards/Guidelines last item in main nav.

Resolved in [25 August telecon](https://www.w3.org/2017/08/25-eo-minutes.html)

[2017-08-25 15:43] #80 closed, assigned to nobody

[2017-08-25 15:44] shawna-slh commented on #81
Implementation guidance resources under "Design & Develop".

Resolved in [25 August telecon](https://www.w3.org/2017/08/25-eo-minutes.html)

[2017-08-25 21:25] #81 closed, assigned to nobody

[2017-08-30 16:04] iamjolly opened #83 "[Nav EOWG] Standards/Guidelines inconsistent with other nav items"
In the main nav, we have the main, top nav items currently listed as:

- Accessibility Fundamentals
- Plan & Manage
- Design & Develop
- Test & Evaluate
- Teach & Advocate
- Standards/Guidelines

The use of the slash without spacing—and even with spacing—looks and feels inconsistent with our use of the ampersands between grouped terms. It bothers me like a mosquito bite I want to scratch every tim

[2017-08-30 17:14] aliciafrausto opened #84 "[Nav EOWG DESIGN] Navigation changes for secondary nav"
@yatil, here is the zeplin link for the menu changes: https://zpl.io/2yXz8Jb

[2017-08-30 17:39] yatil commented on #84
Thanks @aliciafrausto !

[2017-09-01 14:52] yatil commented on #83
I, too, think it looks weird. It is a bit of a problem that W3C standards are called “recommendations” unless we call them “guidelines” like WCAG :-D

I think for most users writing “Standards & Guidelines” would be ok. I could even see “W3C WAI Standards” or “Web Accessibility Standards” (probably way too long), but what if someone searches for the Web Content _Guidelines_? They would probably be

[2017-09-01 15:58] shawna-slh commented on #83
Yes, we know. We carefully considered this. Basically, "Standards & Guidelines" could communicate to some that the Guidelines are not Standards, and that would be a **very bad thing**!
More in:
* https://lists.w3.org/Archives/Public/public-wai-eo-site/2017Jul/0000.html
* https://lists.w3.org/Archives/Public/public-wai-eo-site/2017Jul/0001.html
* agreed on https://www.w3.org/2017/07/05-eo-minutes.h

[2017-09-01 15:58] #83 closed, assigned to shawna-slh

[2017-09-01 16:22] iamjolly commented on #83
I'm leaving this closed, but I **highly recommend testing** different variations of this label as part of the usability testing. If Guidelines are, in essence, Standards, then why have both terms? I also disagree, respectfully, with this:

I can't imagine that the label with an ampersand will be harmful to people's understanding of the content within that section. I think that's a pretty big stret

[2017-09-01 16:43] shawna-slh commented on #83
Thanks for the additional thoughts.

See info in links above. Many people know only Web Content Accessibility Guidelines, and thus likely won't think to look under "Standards" for it. I don't think that 8 users is enough to test this.

The concern is not so much that they wouldn't understand what content is in that section. It's more the overall issue of not understanding that WCAG = W3C Recommend

[2017-09-01 22:10] #70 closed, assigned to yatil

[2017-09-01 22:11] shawna-slh commented on #69
Issue for middle buckets: https://github.com/w3c/wai-website-design/issues/82

[2017-09-06 12:52] yatil commented on #84
I have made changes :-)

[2017-09-06 12:52] #84 closed, assigned to yatil

[2017-09-06 12:53] yatil commented on #84
(Some refinement is pending for when I make the menu keyboard accessible and also take a look at the positioning especially of the right-hand main menu items.)

[2017-09-06 20:41] shawna-slh commented on #83
Thinking more about this and the number of things that we have for usability testing, I'm not convinced that is an important thing to focus on for usability testing, and we're not planning AB testing, afaik.

I think there is strong support for using both words. We could watch for participants stumbling over "Standards/Guidelines", but even that I'm not sure is a priority.

[2017-09-06 22:39] shawna-slh opened #85 "[Nav - EOWG] Title prefix for specific issue pages"
The WAI site currently has three pages that were created to address **specific narrow issues**:
*  Explaining [why standards harmonization is essential]( https://www.w3.org/WAI/Policy/harmon)
* The relationship between [accessibility, usability, and inclusion]( https://www.w3.org/WAI/intro/usable)
* Answering "Does W3C have [mobile accessibility standards]( https://www.w3.org/WAI/mobile/)?" and te

[2017-09-06 22:43] shawna-slh commented on #85
What about: "**On Point:**"

We could have one of the home page middle boxes (in
[prototype navigation with shortened titles](https://w3c.github.io/wai-website-components/components/preview/example-home.html) currently with dummy placeholders Audit, Design, Develop, Laws & Policies) be something like:
<hr/>

# On Point
On Point articles answer questions on:
* Does W3C have mobile accessibility sta

[2017-09-06 22:49] bakkenb commented on #83
+1 to @slhenry.

Let's keep an eye open for comments about this in the usability testing if any should arise. Then we can also watch for comments about this when the new design is unveiled and make edits then if needed.

[2017-09-07 01:19] VivienneConway commented on #85
+1 from me

[2017-09-07 01:35] iamjolly commented on #85
"On Point:" sounds like a good preface for the narrow topic pages.

I just thought of a similar one: "In Focus:"

I believe either might work and would be happy with On Point. Curious if other folks have alternatives that would accurately reflect the content being about a more narrow topic.

[2017-09-07 07:43] yatil commented on #85
What about:

* **Focus on** Mobile Accessibility

[2017-09-07 07:47] yatil commented on #85
“On Point” feels like it would perpetuate the myth (?) that our other resources are not on point. I’d like to avoid it. What about: “**Focus on** Mobile Accessibility” etc. instead? I do not have strong feelings and as long as we are consistent, it shouldn’t be a big problem.

(I am unsure on having them in the boxes on the front page as they are backgrounders and not hands-on information. For exa

[2017-09-07 07:53] nitedog commented on #85
I like "On point". It is immediately clear that it is discussing a specific point related to the overall topic.

[2017-09-07 13:04] ghost commented on #85
+1 with narrowing the perceived scope in navigation by categorizing them.
and +1 with 'Focus on" by @yatil
(sorry for my terse style, y'all said relevant things and I don't have anything to add to them.)

[2017-09-07 15:10] bakkenb commented on #85
+1 to "on point"
Definition (Merriam Webster): relating very well to the subject that is being discussed.

[2017-09-07 16:20] vmmiller commented on #85
+1 for "In Focus:" or "Focus on:"

[2017-09-07 19:28] shawna-slh commented on #78
Had a good chat with Norah and we are both comfortable leaving as is for now, and revisiting as a lower priority after launch. (unless usability testing shows it's a really big issue, then reconsider)

(I think it would be good to rethink the whole Plan & Manage section, including possibly integrating Developing Org Policies into main resource. However, I think ***definitely*** lower priory than l

[2017-09-07 20:05] bakkenb commented on #78
+1 to Leaving as is. Thanks

[2017-09-08 01:46] shawna-slh commented on #85
I appreciate the idea of "focus" -- it's good to get multiple ideas to consider.

-1 for "Focus on Standards Harmonization is Essential", "Focus on Accessibility, Usability, Inclusion", "Focus on Mobile Accessibility at W3C"
because it becomes imperative _(expressing commands, direct requests)_, that is, we are telling people: "You should focus on this.", but these things are *not* what we want mo

[2017-09-08 13:10] James-Green commented on #85
I really think the additional words are unnecessary and add words without value.

[2017-09-12 22:14] #85 closed, assigned to shawna-slh

[2017-09-13 12:59] shawna-slh commented on #82
spreadsheet for latest: https://docs.google.com/spreadsheets/d/1oYO8xsoKHNWkxZ3IxOv3bOjhqV3dQddjRID5XCk_27Y/edit?usp=sharing

(doc with earlier ideas: https://docs.google.com/document/d/1ofzqxTzj_VZ741-Cki2WpMMPCiZBhwNIu8JBWfTyW3g/edit?ts=59b92918# )

[2017-09-18 14:32] shawna-slh opened #87 "[Home page] specific links only"
Brent says of the Tip of the Week:

Shawn reply:
+1 for linking directly to the tip itself for more info.
There's also the issue that we have 3-6 other Tips pages, and if just link to one, some users will assume that's all we have.
**[Alicia <- James]** I guess we need revised design to accommodate this.
**[Usability Testing - Charlotte]** We might want to see in usability testing if they notice t

[2017-09-18 15:17] shawna-slh opened #88 "[Home page] Middle boxes"
[deleted to avoid confusion!]

[2017-09-18 15:20] shawna-slh commented on #82
Brent and Shawn worked on content for the middle boxes.

Brent called them "**Showcase Containers**" and says:

Brent's initial ideas to get discussion started:

A collection of tutorials on how to develop web content that is accessible to people with disabilities, and provide a better user experience for everyone.

Approaches for Interim Repairs - An overview with pointers to help address the mos

[2017-09-18 15:21] shawna-slh commented on #88
oops -- already had an issue for it: https://github.com/w3c/wai-website-design/issues/82

[2017-09-18 15:21] #88 closed, assigned to shawna-slh, bakkenb, James-Green

[2017-09-18 15:49] shawna-slh opened #89 "[Home page] Perspectives Video text - tagline?"
I suggest that we include the tag line:

Here is a longer and short option:

**Keyboard Compatibility**
All functionality must be usable with the keyboard. That is, users can access and move between links, buttons, forms, and other controls using the Tab key and other keystrokes. Websites should not require a mouse. Learn more about how [Keyboard Compatibility](https://www.w3.org/WAI/perspectives/

[2017-09-18 15:53] shawna-slh opened #90 "[Home page] Video - end of play"
On the [home page](https://w3c.github.io/wai-website-components/components/preview/example-home.html), users can play a video. Currently at the end, it brings up thumbnails for 4 videos; and only one is ours. Can we set it so that it only shows the other videos in our playlist?

Maybe Caleb knows how to do this? :-)

[2017-09-18 16:01] shawna-slh opened #91 "[Home page] Top Feature: Tutorials"
Some ideas:

**Tutorials**
Get guidance on developing content that is accessible to people with disabilities.
button: [Web Accessibility Tutorials](@@)

**Web Accessibility Tutorials**
Get guidance on developing content that is accessible to people with disabilities.
button: [Tutorials](@@)

**Tutorials**
Get guidance on developing content that is accessible to people with disabilities from the [W

[2017-09-18 17:29] shawna-slh commented on #69
Related issues:
https://github.com/w3c/wai-website-design/issues/96
https://github.com/w3c/wai-website-design/issues/30
https://github.com/w3c/wai-website-design/issues/87
https://github.com/w3c/wai-website-design/issues/89
https://github.com/w3c/wai-website-design/issues/90
https://github.com/w3c/wai-website-design/issues/91
https://github.com/w3c/wai-website-design/issues/92
https://github.com/w

[2017-09-18 17:56] shawna-slh opened #92 "[Home page] minor tweaks"
I think these are minor and don't need other input or discussion. However, I am totally open to it if needed! James, if you think these don't need discussion, would you comment and assign to Eric to implement?

Ref: https://w3c.github.io/wai-website-components/components/preview/example-home.html on 18 Sept

* "See All News and Announcements" -> "See All News"  (we don't include the announcements

[2017-09-18 18:00] shawna-slh commented on #68
I understood that we agreed to go with a single column list as long as they are text. Correct?
(and we can revisit if/when we get logos)

@yatil - Do you need Alicia to update the mock-ups to reflect that? Or is this documentation enough?

[2017-09-18 18:28] shawna-slh opened #93 "[Home page] first big image"
What is the plan for this image? Will the image be resource specific? That is, the image will try to convey something related to the featured resource, and thus the image will change with the resource?

If so, it would be great to get upcoming images lined up! Here are the tentative plans for the first few featured resources:
* Tutorials (2017 Q4) http://www.w3.org/WAI/tutorials/
* BAD https://www

[2017-09-18 18:44] shawna-slh opened #94 "[Home page] WAI intro blurb"
Latest home page prototype: https://w3c.github.io/wai-website-components/components/preview/example-home.html
_(fyi, I think the font will be the same as throughout -- not bigger as it seems right now)_

**What is the W3C Web Accessibility Initiative (WAI)?**

WAI develops resources to make the web accessible to people with disabilities, including:

- guidelines widely regarded as the internationa

[2017-09-18 18:52] bakkenb commented on #89
+1 to longer option. I think the longer amount of text will balance out the size of the video to the right.

[2017-09-18 19:02] bakkenb commented on #91
I like this one...  (also dropped the word "Get")

Rationale: I like the name of the resource up on top because in the [mockup ](https://w3c.github.io/wai-website-components/components/preview/example-home.html)the box starts with "Featured Resource" - then I think we should have the name of that resource as the next thing people read.

Dropped "Get" because it sounds grammatically incorrect. "Rec

[2017-09-18 19:29] shawna-slh commented on #30
For the top box, here is the list of things we'll want icons for: https://github.com/w3c/wai-website-design/issues/93

For the middle boxes, see: https://github.com/w3c/wai-website-design/issues/82

Additional ones are listed in the spreadsheet: https://docs.google.com/spreadsheets/d/1oYO8xsoKHNWkxZ3IxOv3bOjhqV3dQddjRID5XCk_27Y

[Alicia <- James]

UPDATE: Things have changed - we are no longer usi

[2017-09-18 19:38] bakkenb commented on #93
I am on the fence about whether the large image should try to match the Featured Resource or not. I am leaning a bit more towards finding soft, none cluttered, non distracting images (very much like the current one) that show any aspect of accessibility and/or assistive technology. I like that the image is zoomed in so that it is not a fully framed picture (those distract more) but more of a small

[2017-09-18 19:42] bakkenb commented on #92
+1 to all of these.

[2017-09-18 20:02] yatil commented on #94
I like the bigger font; it is a nice counterweight to the tips.

I feel strongly that we don’t want to have a list in there.

Just a brainstorm rewording, not feeling strongly about it:

“WAI develops internationally recognized standards for web accessibility and support materials on understanding and implementing web accessibility. We encourage participation from around the world.”

(I do not par

[2017-09-18 20:06] yatil commented on #68
I can remove the classes from the list without Alicia doing anything ;-)

I think the four columns (goes to two in narrow viewports) looks OK for now: http://w3c.github.io/wai-website/

[2017-09-19 17:26] shawna-slh opened #95 "[Nav] Tutorials specific"
... @@

<s>and move Media out</s> done

[2017-09-19 17:33] shawna-slh commented on #94
Would like to come up with different heading than "What is the W3C Web Accessibility Initiative (WAI)?"

Maybe general
* About the W3C Web Accessibility Initiative (WAI)"
* Web Accessibility Initiative (WAI) at W3C

or more specific, e.g., along the lines of:
* WAI in W3C's Web for All Mission /  WAI Supports W3C's Mission of Web for All

[2017-09-19 17:34] shawna-slh commented on #94
brief notes from Judy: bigger than guidelines.... supports W3C Web for All mission...

[2017-09-19 17:49] brewerj opened #96 "[home page] Size & positioning of blocks & topics"
I currently see several tiers of blocks/panels, showcasing various resources, before news and announcements, or even getting a hint that news and announcements are further down the page.
Can the size of the blocks/panels be made shallower? Or the news and announcements start higher up on the page, perhaps adjacent to featured resources?

[2017-09-20 16:47] yatil commented on #93
IMHO it would be best if we had an image that fits into the context. Unfortunately, images like that are hard to find. If we don’t change the image people might go “banner blind” when accessing the home page.

(Note: We might be able to have the box on the right side as well if it is needed by the image. However, for general usability, I think we prefer the left side.)

[2017-09-20 16:49] yatil commented on #96
I think the news teasers are where people would search for them. I think we could add a link to the service navigation on top, saying News, but I leave that to IA.

(Also we will test the visibility of it in the Usability testing.)

[2017-09-20 16:51] yatil commented on #82
Can we _not_ use phrasing like “see [link to resource]” and instead use a contemporary method of outright linking to resources for the sake of accessibility (easier to understand and easier to click areas)?

As the items are on the homepage, it is clear that they are featured. That’s the point of the home page :-D

[2017-09-20 16:55] yatil commented on #87
- -1 to link to a part of the page (relatively strong)
- -1 to not having more tips links, as it is good to show the specific and the broad here. (relatively mild)
- ±0 on having link to all videos, I think it is useful. There are links from other parts of the target page. However, there is additional information on the video detail page that might not be seen if we put the video on the home page.

[2017-09-20 16:55] yatil commented on #89
OK with any text provided :-D

[2017-09-20 17:46] shawna-slh commented on #82
@yatil, We could still have the whole area clickable.

[2017-09-20 17:57] yatil commented on #92
I think we should have a list of past events, with linked slides/videos/…

OK

If we say “see all news” on the top, we should have “get WAI news” there. (Is there a difference between News & Announcements? Does anyone coming to the page understand that difference? If we could have just one term it would be preferable over two similar terms.)

[2017-09-20 18:10] yatil commented on #82
@slhenry But then I think the title we’re linking to should be the first thing in the link.

[2017-09-20 18:13] yatil commented on #90
Yes, we can. Do we want users to be able to play a video on the home page in the first place? Or might they miss out on our secondary information that we provide? We could link an image of the video to the details page.

[2017-09-20 18:14] yatil commented on #90
(Consider linking to the details page especially because we have additional accessibility features there, like transcript and Audio description. I feel strongly we don’t want to replicate them on the home page because it would bloat the page load time.)

[2017-09-20 18:25] bakkenb commented on #82
+1 to @yatil

[2017-09-20 18:26] lakeen commented on #82
+1

[2017-09-20 21:29] aliciafrausto commented on #93
@yatil Here are some image suggestions:
[wai-stock photos.pdf](https://github.com/w3c/wai-website-design/files/1319302/wai-stock.photos.pdf)

[2017-09-21 07:47] VivienneConway commented on #82
+1

[2017-09-21 07:48] VivienneConway commented on #89
+1 to the longer explanation

[2017-09-21 07:51] VivienneConway commented on #87
Personally I like have a link to all the videos, as I might want to spend considerable time on the resource at one time and would like to know everything available - then I can come back whenever I want.  As a service provider, if I refer a client to the resource, I want them to be able to easily see all we offer, they might not come back and check out other things later and would miss out on grea

[2017-09-21 08:05] yatil commented on #87
Good point, @VivienneConway.

[2017-09-21 08:06] yatil commented on #93
Thank you, @aliciafrausto!

[2017-09-21 08:20] VivienneConway commented on #94
I'm also not fond of the 'around the world' as it seems odd, keeping in mind the W3C's membership.  I like the idea of "We encourage participation from different groups and industries and with diverse backgrounds".  Maybe the drop the 'also' from the previous suggestion.

[2017-09-21 08:22] VivienneConway commented on #92
+1 to all

[2017-09-21 19:34] shawna-slh commented on #90
I actually didn't expect them to play on the home page -- that surprised me.

I'm fine with it linking to the page.

I suggest that we do that for usability testing, and **@charlottehwise and all can see what users think of that in usability testing**. :-)

[2017-09-21 19:35] shawna-slh commented on #82
@yatil I don't understand "But then I think the title we’re linking to should be the first thing in the link."

[2017-09-21 22:17] yatil commented on #82
@slhenry Instead of having “Something Something Something, see Resource XYZ.” and linking the whole thing, we should have “ResourceXYZ Something Something Something” – basically keeping the current structure.

[2017-09-21 22:20] yatil commented on #90
I had to assume from the static site image. Will replace with a screenshot on the homepage.

[2017-09-21 22:20] #90 closed, assigned to yatil, James-Green, vuxcaleb

[2017-09-26 02:41] shawna-slh commented on #92
I can't see that we can have that anytime soon. Too many other higher priorities.

[2017-09-26 02:42] shawna-slh commented on #91
@yatil - I say go with Brent's suggestion for the usability testing.

Guidance on developing content that is accessible to people with disabilities.
_button:_ [Tutorials]

[2017-09-26 02:44] shawna-slh commented on #89
@yatil - Looks like go with the longer version for usability testing.

[2017-09-26 02:46] shawna-slh opened #97 "[home page] Feature Resource"
I think make "Featured Resource" text less pronounced. Minor -- and I don't feel strongly.

Alicia <- James

[2017-09-26 06:25] yatil commented on #92
This was assigned to me without a real resolution. I have no idea what to do. :-/ @slhenry

Well, we are testing features that we can then add content to while it happens. We don’t need to go and backfill the content for launch (which would be super useful eventually, IMHO), but we can add the content and show it when we have content for it in the future. For the user testing, the question is if w

[2017-09-26 06:25] yatil commented on #92
(please re-assign once we have a clear resolution)

[2017-09-26 16:58] James-Green commented on #97
I emailed this to her while we wait to get her on the participants list..

[2017-09-26 17:04] James-Green commented on #82
mentioning @aliciafrausto to see if she'll get an email about this issue while we wait to get her in this group

[2017-09-26 17:21] James-Green commented on #64
none of the sites linked above have the same links in the footer as in the main nav. they use the footer nav for a different purpose entirely.  Unless we are trying to duplicate or main nav in the footer (which is **not** a common practice), I suggest we drop the idea of having a footer nav.

[2017-09-26 17:22] James-Green commented on #96
Judy will join our TF call tomorrow to discuss.

[2017-09-26 17:27] James-Green commented on #92
I agree with Eric.
I think we should drop the term "Announcements" and let "News" cover it all.
I think we should have an archive of events.  We can either start going forward or at least try to put a couple  recent in there to get it started.

[2017-09-26 18:00] aliciafrausto commented on #82
I've created a mockup with the 2 ideas I see in this string.
https://visa.invisionapp.com/share/KTDO6S6VS#/255341903_column_Alternates

I've removed the icons as I'm not sure they are relevant with the new content.

[2017-09-26 18:13] aliciafrausto commented on #97
Dropped the text size down in the mocks to 14px for this text and the featured video text.

https://visa.invisionapp.com/share/YPAVCUZA9#/234693428_Home_Page
https://zpl.io/bzLjgXV

@yatil - assigning to you so you can update the actual site.

[2017-09-26 18:25] bakkenb commented on #82
Thanks for the visualization @aliciafrausto.

In my opinion, I do not like Option B for a few reasons.

1. I don't like "Featured Resource" repeated at the top if each box. I understand that it may be important for people to know this is a featured resource so they won't be too upset when these change from time to time and they need to get used to using the top navigation to find the resource (or

[2017-09-26 18:26] #97 closed, assigned to yatil

[2017-09-26 18:28] yatil commented on #95
Media has been moved out of the wai-design prototype.

Please specify

or close the issue :-)

[2017-09-26 18:39] yatil commented on #94
“Web for All mission” sounds weird to me.

Proposal:

I wonder if instead of “web for all” we could introduce our “Essential for some, useful for all” lingo that many people like.

[2017-09-26 18:40] aliciafrausto commented on #93
Got this update from Shawn:
W3C now has an account with .... We get limited number of images. Let us know if there are any there you like for the WAI home page. (We might get some now and some later when needed.) Also, people have found good free images from ...

________

The ... images look like they overlap quite a bit with .... So if Eric was able to get those, I think it probably makes sense

[2017-09-26 18:48] yatil commented on #82
The content of the individual boxes is irrelevant at this stage. What should be the approach?

* Option A has the resource in large heading text and links to it.
* Option B has the category as the large heading text but links to the resource that is underlined.

We already have this: https://w3c.github.io/wai-website-components/components/detail/teaser-four-teasers.html

I can easily add a black s

[2017-09-26 18:50] yatil commented on #93
I got them and I shared a dropbox folder with @slhenry a few days ago. (I wonder if that worked, I haven’t heard back.)

[2017-09-26 19:19] aliciafrausto commented on #87
Tip of the Week:
What is the decision here? Remove/change the 'More Design Tips' link? What is the actual content you guys think will be displayed here? Should the tip itself be styled as a link instead?

Link to all videos:
I see multiple opinions on whether we are keeping this, not sure what the decision is. Also not sure a new mockup is necessary regardless, can easily hide the second button wi

[2017-09-26 19:36] yatil commented on #87
@aliciafrausto Yes, we don’t need mockups for both issues. We just need a decision and I can easily implement it.

@slhenry Can you please decide for the UT ASAP.

[2017-09-26 19:36] bakkenb commented on #82
I know I am not the only one that should weigh in on this... hoping other will too.

But I will restate what I said in earlier comment, I prefer Option A.

[2017-09-26 20:03] shawna-slh commented on #95
To clarify: move media out from under Tutorials, not out of the prototype all together. :-)

… @@

Not this week :-) -- after usability testing push.

(I mentioned briefly in [22 Sept discussion](https://www.w3.org/2017/09/22-eo-minutes.html#item18), and said let's deal with that later)

[2017-09-26 20:48] shawna-slh commented on #64
At this point, I feel like the main nav is good, and additional mega nav in footer is not needed.

Since I opened this issue, I'm closing it. :-)

If anyone feels differently, feel free to re-open.

[2017-09-26 20:48] #64 closed, assigned to shawna-slh, James-Green, charlottehwise

[2017-09-26 20:54] shawna-slh commented on #92
fyi, we had an [Events page](https://www.w3.org/WAI/events.html) that listed meetings and WAI training (not all presentations by WAI staff), and it wasn't a priority to maintain it the last couple of years. If someone wants to take on filling it in, I'd be fine with that -- but I can't in the foreseeable future. There is also the [W3C Calendar of Events](https://www.w3.org/participate/eventscal.ht

[2017-09-26 21:17] shawna-slh commented on #92
The link "Get WAI Announcements" is currently under the Announcements heading, so it might be weird to have it say just "Get WAI News". And also people are used to "Get WAI Announcements". But I don't feel strongly about this.

[2017-09-26 21:21] shawna-slh commented on #92
There is not consensus above; however, I'm pretty sure no one objects to any option for the usability testing. So in the interest of just getting something in place for the usability testing, let's go with:

* "See All News and Announcements" -> "See All News"

* Leave "See Past Events" _(Eric, please don't spend any time putting content there. I don't think we'll have it at launch anyway, and the

[2017-09-26 22:51] yatil commented on #92
I made the changes (to the prototype – I won’t update the content of the components library for now).

[2017-09-27 03:32] shawna-slh commented on #87
I understand concern with linking into middle of a page. However, I think (relatively strongly) that they need to be directed to an explanation of the specific tip. The tips need more explanation to be understood and implementable. I hope we get some feedback on this in usability testing.

A concern is linking only to one of 6+ tips, though. E.g., when we only link to Design Tips, then potentially

[2017-09-27 03:34] shawna-slh commented on #87
The content will be 4-7+ words, *all* shorter in length than "Provide sufficient contrast between foreground and background".

[2017-09-27 03:36] shawna-slh commented on #87
Unfortunate that we're in a position to make last minute decisions without comfortable discussion and consideration. Anyway, it's just for usability testing for now, and we can address with more user input after next week!

I propose for this usability testing prototype:

Link to all videos:
Not include.

Tip of the Week:
Yes, Remove 'More Design Tips' link.
Yes, it should be styled as a link or o

[2017-09-27 03:52] shawna-slh commented on #82
Thank you, Alicia, for mocking up ideas. It helps to see concrete examples.

[2017-09-27 03:53] shawna-slh commented on #82
We're shoe-horning, and it's not fitting.

[2017-09-27 07:31] yatil commented on #87
I’m unable to introduce yet another different looking link style, so I added an underline to the tips text.

[2017-09-27 07:47] yatil commented on #95
I would just like to know what “… @@” means. Is that the suffix discussion? Guide/Intro/Overview?

[2017-09-27 07:49] yatil commented on #91
Done. The button stays “Read more” as the whole box is a link and repeating tutorials at the end of the link makes little sense, IMHO.

[2017-09-27 07:50] #91 closed, assigned to yatil, shawna-slh, bakkenb

[2017-09-27 08:31] yatil commented on #82
I changed the content to what was provided to me. The texts are now weirdly doubling the titles and we don’t have proper icons to go with each item, but it’s the only thing I can do for now.

Concrete changes welcome.

[2017-09-27 08:31] yatil commented on #82
http://w3c.github.io/wai-website/

[2017-09-27 15:52] #89 closed, assigned to yatil, shawna-slh, bakkenb

[2017-09-27 16:02] shawna-slh opened #98 "Back to Top links"
Go to h1 or Top of page?

[2017-09-27 21:06] shawna-slh opened #99 "[Nav] To WGs and such"
Need to make it easy to get to WG pages. [Nav spreadsheet](https://docs.google.com/spreadsheets/d/1pqcSChcWZwTShpov34jDfvX2E-jW6_M5khV38D53Qqk/edit#gid=887243996) has

and unfilled out info under Get Involved and About W3C WAI

[2017-09-28 14:44] #66 closed, assigned to nobody

[2017-09-28 21:24] aliciafrausto commented on #96
James had a great idea to add a third column in the top row to feature the latest news. Here's a mock of that:
https://visa.invisionapp.com/share/YPAVCUZA9#/255840190_Home_Page_-_News_Column

[2017-09-29 07:10] yatil commented on #96
@aliciafrausto That would work for me. Can you add that design to Zeplin so I can get to the icon and whatever else I need :-) Thanks!

/cc @slhenry @bakkenb @sharronrush @brewerj for opinions :-D

[2017-09-29 12:01] VivienneConway commented on #94
My problem with ‘Web for All” is that is the name of the W4A (Web For All) Conference.

(Edited by @yatil to remove email footer.)

[2017-09-29 14:04] sharronrush commented on #96
Yes thanks all, that works well for me.

On Fri, Sep 29, 2017 at 2:11 AM, Eric Eggert <notifications@github.com>
wrote:

--
Sharron Rush | Executive Director | Knowbility.org | @knowbility
*Equal access to technology for people with disabilities*

[2017-09-29 14:11] bakkenb commented on #96
I think this is a good solution as well. +1

[2017-09-29 14:17] yatil commented on #96
I can put it in as soon as I got access to the file.

[2017-09-29 15:22] shawna-slh commented on #96
Thanks tons for thinking of options, and mocking them up so we can see 'em!

I'm a little hesitant to just have one news item there. Often the "latest news" is not something we want to particularly want to
highlight, e.g., an updated Working Draft. But maybe with some tweaking it will work well.

I suggest we leave it as is for the usability testing -- no last minute changes :-)

As Charlotte said

[2017-09-29 15:37] yatil commented on #96
I have put the latest four items from WAI highlights there for a preview.

[2017-09-29 16:34] shawna-slh opened #100 "Highlight boxes and misc visual designs"
Apologies if we have this stuff listed elsewhere. I didn't find it, and wanted to get it down before I forgot.

I think we still need visual design of a few types of highlight boxes and such, including for things such as these:
* Overview box in https://www.w3.org/WAI/users/inaccessible
* Top of https://www.w3.org/WAI/intro/accessibility
* E-mail templates bottom of https://www.w3.org/WAI/users/in

[2017-10-11 17:25] #98 closed, assigned to nobody

[2017-10-11 17:29] yatil commented on #99
There are no drop downs from the utility nav, maybe we can have a quick nav to the WG pages, but I wonder if that stuff should be inside About WAI. Do we need a specific section for Working Groups/TFs organizational stuff?

[2017-10-11 17:58] yatil commented on #100
We have the boxes already. I don’t know why this is an open issue.

https://w3c.github.io/wai-website-components/components/detail/box-wrapper--default.html

We just have to decide which style to use where and apply that. Some examples need editorial work. I will take care of most of it and defer to the editors where needed/more efficient.

EDIT: Especially I think we have all the design templates

[2017-10-12 14:41] shawna-slh commented on #100
OK, I'll close it for now.

We'll need to see them implemented to see if we all think they work well.

[2017-10-12 16:35] yatil commented on #100
We currently don’t use them anywhere. I get no directions on where to use them, so I do not just use them somewhere. We have examples for those boxes in the tutorials and the tips. They have been implemented according to the finished design.

I reopen this issue because I did not get any direction which bo to use where and therefore this issue is not resolved.

[2017-10-12 16:39] yatil commented on #100
Also, in this instance example images are missing because we are _in the process_ of porting content into the new design. We have to touch every page and make sure it is right. We will not do that before the content is OK’d and we cannot do it before we haven't the implementation in HTML done.

It is not helpful to conflate bugs present in the prototype with content that has not been adapted with

[2017-10-19 09:09] yatil opened #101 "Homepage Brainstorm"

[2017-10-19 09:10] yatil opened #102 "Navigation Brainstorm"

[2017-10-19 14:48] aliciafrausto commented on #100
https://visa.invisionapp.com/share/YPAVCUZA9#/223719140_Graphics
These are the elements I've already created styles for, for reference.

It seems like that box Eric created plus what is in the mocks will cover the list up above, but let me know if not.

[2017-10-19 18:27] nrhsinclair commented on #101
Here are a couple of homepage ideas on attached images. Also includes some navigation ideas. Both images are for brainstorming. Builds on discussion last week task force discussion and goals that were discussed - W3C and WAI relationship and purpose.
Also included a prominent link to a map of all resources. See images.

![wai homepage full menus](https://user-images.githubusercontent.com/26551556/

[2017-10-20 02:27] VivienneConway commented on #101
These look beautiful!  One question from me with my #ally hat on.  Can you tell me the option that has been selecting for showing keyboard/mouse focus?  It would be great to reverse the front/background colours.  Also has the method for the menu operation been discussed?  We have such a great opportunity to have this site used as a best case example.

 (Shortened Vivienne’s message to not show the

[2017-10-20 15:27] nrhsinclair commented on #101
I'm adding a 3rd version that has a section for "What's Going On/ News and Highlights" on the right.
![wai homepage with news](https://user-images.githubusercontent.com/26551556/31827642-528caa2e-b586-11e7-83d8-5cced02dcdd0.png)

[2017-10-20 15:55] yatil commented on #101
@nrhsinclair Thanks. A lot of that could be done with re-arranging components that we already have, I think.

[2017-10-20 15:59] nrhsinclair commented on #101
Yes, I agree, taking the current design and rearranging some things.

[2017-10-24 02:38] bakkenb commented on #101
Attached are 2 similar PDF versions of a vision I have had about the site for some time now. This needs some good design touch ups (colors) and is not the complete home page. It is just what I think we should welcome people with at the top of the page. I took some of the language from Norah's examples to describe the sections (thanks Norah!)

It will meet the need of letting people know that WAI i

[2017-10-24 11:44] yatil commented on #102
This is my brainstorming of the navigation (no fly outs, more like a disclosure).

Note: This is not optimized for any edge cases, please look at it with a desktop width system and a modern browser (I tested Firefox/Safari). It also needs a lot of style love. https://codepen.io/yatil/full/WZqedQ/

Here’s a screen recording: https://dsc.cloud/yatil/Screen-Recording-2017-10-24-13-42-53-9eELY6Onat

[2017-10-24 13:49] nrhsinclair commented on #101
I really like those sections Brent!

[2017-10-25 15:08] shawna-slh commented on #101
Reminder that the updated home page goals (as discussed at 11 October Task Force telecon) are here: https://www.w3.org/WAI/EO/wiki/Redesign_-_October_Revisions#Home_page

[2017-11-04 14:00] shawna-slh opened #103 "[nav] Standards Overview page"
From https://www.w3.org/WAI/EO/wiki/Redesign_-_October_Revisions :

**(new doc) Standards/Guidelines — first link is an overview page**
* 🚨 The Components of Web Accessibility page? Or the link Standards/Guidelines? If that got an overview page, shouldn’t the other main nav items get their own overview pages, too? – Eric
* I think we need a new page that is titled **Accessibility Standards/Guideli

[2017-11-06 11:13] yatil commented on #103
For context, that comment was if the actual Standards/Guidelines link worked differently than the other main navigation items. If we add a page Overview with its own sub-nav link, that’s totally :cool: with me! 😎

[2017-11-06 19:41] yatil commented on #103
Added here: https://github.com/w3c/wai-website/blob/master/pages/standards/index.md

[2017-11-06 19:41] #103 closed, assigned to yatil

[2017-11-17 20:55] shawna-slh commented on #82
moot now with latest direction of home page. phew :-)

[2017-11-17 20:55] #82 closed, assigned to shawna-slh, bakkenb, aliciafrausto

[2018-01-08 14:15] yatil commented on #18
The latest homepage mockup has the following tagline:

[2018-01-08 14:16] yatil commented on #29
Just seeing that I was unassigned. That’s on my plate.

[2018-01-08 14:22] yatil commented on #32
We didn’t get to a conclusion for now, and I think it makes sense to table that until we actually _have_ translations. It is probably trivial from an implementation perspective.

[2018-01-08 15:31] yatil commented on #35
This is a duplicate of #28.

[2018-01-08 15:32] yatil commented on #50
My prototype is in #102.

[2018-01-08 15:33] yatil commented on #54
Closing this as we are further along in the discussion.

[2018-01-08 15:33] #54 closed, assigned to yatil, shawna-slh

[2018-01-08 15:34] yatil commented on #58
Closing this as it looks like this is not the active discussion thread anymore.

[2018-01-08 15:34] #58 closed, assigned to yatil, vuxcaleb

[2018-01-08 15:37] yatil commented on #61
We have the outline of a redirection plan. I will implement that plan with the W3C systeam.

[2018-01-08 15:38] yatil commented on #68
Done.

[2018-01-08 15:38] #68 closed, assigned to shawna-slh

[2018-01-08 15:40] yatil commented on #69
As this now has granular issues, I think we should close this.

[2018-01-08 15:50] yatil commented on #2
Has been implemented.

[2018-01-08 15:50] #2 closed, assigned to nobody

[2018-01-17 07:14] yatil opened #104 "Color of expand/collapse buttons"
Some criticism that the icons are too bold. Unsure what to do about it. I certainly want consistency and easy discoverability of the feature.

See discussion in w3c/wai-intro-accessibility#5.

[2018-01-17 12:46] lakeen commented on #104
I think this is a question for Alicia.  Decreasing the size of the icon could help.  The background color of the icon is causing the issue and needs to be consistent with link color so it's not a simple fix.

[2018-01-18 09:47] yatil commented on #104
IIRC it uses the standard buttons with icons CSS, I can see if there is a good way to make them less heavy.

[2018-01-18 15:14] shawna-slh commented on #104
+1 for less visually strong

brainstorm(=maybe a bad idea;-): Have the outline and the + link blue, and the fill color the background color.

[2018-01-18 18:42] yatil opened #105 "Specify quote design"
(Related: w3c/wai-intro-accessibility#14)

- [x] Design for one paragraph + attribution
- [ ] Design for multiple paragraph + attribution
- [ ] Inline quotes

[2018-01-18 21:27] yatil opened #106 "Define Expand/Collapse all"
Most important issues:

* Where would the expand/collapse all buttons be positioned in the document when the expand/collapses are spread all over the document? In contrast to being a list of expand/collapse sections with no content in-between?
* Would that be clear to readers? What if the button is somewhere were the user can’t see any of the expanded/collapsed sections? What does the user base th

[2018-01-18 21:35] yatil opened #107 "Define Video Thumbnails"
We currently have no designs for video thumbs as implemented in w3c/wai-intro-accessibility#13

Challenges:

* Obviously Clickable.
* What happens when the link is clicked? (Autoplay yes or no?)
* Will the thumbnail have a play button on it?
* What about the video title? Where will it be displayed?

[2018-01-18 21:42] yatil opened #108 "Define On This Page Navigation"
* Where to put it, see discussion here: w3c/wai-tutorials#548
  * Inside `<main>`
  * Before `<main>`
  * After `<main>`
  * Before `<h1>`
  * After `<h1>`
* How will the Page Contents look? Is standard box sufficient?

[2018-01-19 01:00] yatil opened #109 "Spacing above h2/other headings"
Relevant to w3c/wai-intro-accessibility#5

@@link to wiki page@@

[2018-01-19 02:20] shawna-slh commented on #108
After h1

Is main in redesign?

I think standard box -- isn't that was used for usability testing? -- whatever was, that fared well.

[2018-01-19 08:27] yatil commented on #108
Hm. I found Matt’s arguments for not having it directly in the main after the H1 very convincing… It doubles the content for screen readers who always have the option to navigate by headings.

Yes, main is in the redesign. Of course. Currently the source is (pseudo code):

[code]

https://cl.ly/3M1w0I0O3j44

OK, that works for me. Just wanted to make sure.

[2018-01-19 21:10] yatil opened #110 "Implement GitHub/feedback box"
https://w3c.github.io/wai-website-components/components/detail/box-wrapper--help-improve-page.html

[2018-01-24 14:30] yatil opened #111 "Top Navigation"
Mobile version: @yatil to make proposal

[2018-01-24 14:31] yatil opened #112 "Mobile Navigation"

[2018-01-24 14:33] yatil commented on #112
* Hamburger Icon

[2018-01-25 21:40] shawna-slh opened #113 "asides, header, heading"
From https://github.com/w3c/wai-intro-accessibility/issues/18#issuecomment-360580931

[2018-01-25 21:52] yatil commented on #113
If we need headings, we can have headings inside the header. (And we do that in the accessibility intro.) Sometimes asides won’t have headings in the heading order. For consistency and styling reasons we have a header element that is describing the content of the box. This is according to the HTML standard of heading elements.

[2018-01-25 21:52] #113 closed, assigned to yatil

[2018-01-26 22:41] shawna-slh opened #114 "<dl> spacing"
I think by default we want more space between items in DL. see for example, https://w3c.github.io/wai-eval-overview/evaluation/#tools

[2018-01-27 11:43] yatil commented on #114
I did not get any design for `<dl>` elements, so I have done nothing yet. I guess we don’t want spacing between multiple `<dd>` elements but space before the `<dt>` element.

[2018-01-30 14:53] yatil opened #115 "Link to videos"
Video links with preview images need to look more video-like.

[2018-01-30 15:11] yatil commented on #114
Old site: `margin-top:.5em;`

[2018-01-30 15:36] shawna-slh commented on #114
+1

[2018-01-30 17:43] shawna-slh commented on #115
+1 for making them more video like
(-1 for it being urgent :-)

examples: https://w3c.github.io/wai-intro-accessibility/fundamentals/accessibility-intro/

[2018-01-31 13:20] #115 closed, assigned to yatil

[2018-01-31 13:27] #114 closed, assigned to yatil

[2018-01-31 14:57] #110 closed, assigned to yatil

[2018-01-31 14:58] yatil commented on #107
Fixed with #115.

[2018-01-31 16:01] yatil commented on #104
@slhenry That’s basically what I did.

Note that it might only show up after the document has been edited (as the theme is only refreshed then).

[2018-01-31 16:01] #104 closed, assigned to yatil

[2018-01-31 16:02] yatil commented on #108
Close for now, I think we’re on the same page. :-)

[2018-01-31 16:02] #108 closed, assigned to nobody

[2018-01-31 16:22] yatil commented on #100
* Overview box in https://www.w3.org/WAI/users/inaccessible
* E-mail templates bottom of https://www.w3.org/WAI/users/inaccessible
* Examples middle of https://www.w3.org/WAI/users/inaccessible

Implemented with standard boxes here: https://w3c.github.io/wai-contacting-orgs/

* Top of https://www.w3.org/WAI/intro/accessibility

Unclear what this refers to. To the text “A shorter introduction is av

[2018-01-31 16:22] #100 closed, assigned to yatil

[2018-01-31 16:24] yatil commented on #99
I think we are going without a flyout. It will be two clicks to get to a group page. If we need other things, we need to re-evaluate after the launch.

[2018-01-31 16:24] #99 closed, assigned to nobody

[2018-01-31 16:24] #95 closed, assigned to shawna-slh

[2018-01-31 16:27] yatil commented on #18
Seeing no substantive discussion around this issue, and regarding the timeline of the project, I close it for now.

[2018-01-31 16:27] #18 closed, assigned to nobody

[2018-01-31 16:31] yatil commented on #14
We did user testing and should open a new issue if we need more user testing :-)

[2018-01-31 16:31] #14 closed, assigned to nobody

[2018-01-31 16:33] #34 closed, assigned to nobody

[2018-01-31 16:33] #35 closed, assigned to yatil

[2018-01-31 16:34] #50 closed, assigned to yatil

[2018-01-31 16:35] yatil commented on #87
I think this issue is resolved with the new home page mock-up :-)

[2018-01-31 16:35] #87 closed, assigned to shawna-slh, bakkenb, aliciafrausto, charlottehwise

[2018-01-31 16:36] yatil commented on #101
We have a new mock-up.

[2018-01-31 16:36] #101 closed, assigned to nobody

[2018-01-31 16:55] shawna-slh commented on #104
Pointer to one to look at?

[2018-01-31 17:34] yatil commented on #104
@slhenry See https://w3c.github.io/wai-intro-accessibility/fundamentals/accessibility-intro/ – I am not 100% happy with the consistency of the position (especially with different heading levels), so I might change some positioning aspects in a later iteration.

[2018-01-31 17:40] shawna-slh commented on #104
likey for now!

[2018-01-31 17:55] shawna-slh opened #116 "Help improve this page box - more space above"
Space above it should be quite a bit. At least the same as above h2s, probably more like 1.5 times.

[2018-01-31 17:56] shawna-slh opened #117 "Email -> E-mail"
per https://www.w3.org/WAI/EO/wiki/Style#One_word.2C_two_word.2C_hyphenation

In "Help improve this page" box

(not sure if elsewhere)

[2018-01-31 19:10] shawna-slh commented on #107
Thanks! Will be nice to have a consistent look & feel for them. :-)

In https://w3c.github.io/wai-intro-accessibility/fundamentals/accessibility-intro/#examples I find these too big. The fact that it is a picture automatically draws lots of attention, and the picture itself doesn't need to communicate meaning -- So I think it should be smaller.
However, I know that my settings do odd things with s

[2018-01-31 19:13] shawna-slh commented on #107
ftr: I'm a bit hesitant having an arrow play button in cases where clicking it goes to a web page instead of automatically starting a video.

However, I do see that other places on the Web, and it doesn't bother me too much.

I'm fine leaving as is for now.

If someone is looking for a research &/or design project, maybe they want to look into options...

[2018-01-31 19:41] shawna-slh commented on #18
+1 to closing this issue.

Recent tagline discussion is elsewhere.

[2018-02-01 01:02] shawna-slh commented on #107
Just noted in https://w3c.github.io/wai-intro-accessibility/fundamentals/accessibility-intro/ that would like less space above video thumbnail so close proximity with intro above.
(can be low priority).

[2018-02-01 08:29] yatil commented on #107
I would not have been opposed to having an inline video player on the page. Maybe I put the play button in one of the corners to make it clear that this is a link to a video.

(can be low priority).

The spacing is a paragraph spacing. Less spacing will look weird in other situations.

[2018-02-01 08:37] yatil commented on #107
Oh, just seeing your first comment on the sizes: We never did define anything about those thumbnails. I took the size of the thumbnails that you added and deducted from there.

Please define all variations and sizes so that there is a way to implement them. We cannot go around and iterate on those at this stage of the project.

[2018-02-01 08:40] #117 closed, assigned to nobody

[2018-02-01 08:43] yatil commented on #116
Yes, the spacing is not done. Thanks for the heads-up.

[2018-02-01 09:10] #116 closed, assigned to nobody

[2018-02-08 21:16] shawna-slh commented on #109
[ link to wiki page: https://www.w3.org/WAI/EO/wiki/Redesign_-_October_Revisions#Visual_design ]

Spacing above h2s looks good now. Seems too much above h3s. e.g., see: https://w3c.github.io/wai-older-users/older-users/literature/#summary-of-impact-and-prevalence

[2018-02-08 22:19] yatil commented on #109
@slhenry How much spacing would you like to have above

* [ ] h3
* [ ] h4
* [ ] h5
* [ ] h6

?

Currently we have [these margins (click the assets tab on the bottom)](https://w3c.github.io/wai-website-components/components/detail/headings.html):

[code]

[2018-02-09 09:47] yatil opened #118 "Add option to remove prev/next links in collections"
rel: w3c/wai-older-users#8

[2018-02-09 11:02] #109 closed, assigned to nobody

[2018-02-09 11:02] yatil commented on #109
Changed to

[code]

[2018-02-09 12:07] #118 closed, assigned to yatil

[2018-02-13 11:08] yatil opened #119 "Pagination"

[2018-02-14 02:01] shawna-slh opened #120 "highlight color"
Old css had:

.changed {
	background: #FFFFCC;
}

We'll want something like that for new site as well.

Let's go with that background color for now (unless someone speaks up strongly for a different color).

I don't feel strongly about keeping "changed" or making it something else -- so feel free to pick other if you want, @yatil

[2018-02-14 08:39] yatil commented on #120
For highlights, we can use the HTML5 `<mark>` element which uses a yellow highlight color and adds appropriate semantics. It currently uses the browser styles because it was not specified that it should change.

We don’t have `#FFFFCC` in the colors for the redesign, however, we have the gold color: `#eed009` that we use throughout the site.

`#FFFFCC` is also a very subtle against the background,

[2018-02-14 14:26] iamjolly commented on #120
I like that gold with 35% opacity. It’s like 35% of 24 karat, so... 8.4 karat gold!

[2018-02-14 15:07] #111 closed, assigned to yatil

[2018-02-14 15:39] shawna-slh opened #121 "[low priority] mobile view option ?"
at top, after change text size and color

(probably not call it "mobile view" -- maybe "change layout" or something generic)

pros & cons?

[2018-02-14 15:52] #112 closed, assigned to yatil

[2018-02-14 15:55] shawna-slh opened #122 ""infographic" content"
W3C
The World Wide Web Consortium (W3C) develops international standards for the Web: HTML, CSS, and many more.

WAI
The W3C Web Accessibility Initiative (WAI) develops standards and support materials to help you understand and implement accessibility.

You
You can use W3C WAI resources to make your websites, applications, and other digital creations more accessible and usable to everyone.

[2018-02-14 16:09] shawna-slh commented on #94
Wording not in latest design, so closing this issue.

[2018-02-14 16:09] #94 closed, assigned to shawna-slh

[2018-02-14 16:11] shawna-slh commented on #120
+1 to the gold color with a 35% opacity (rgba(234,208,71,.35)):

[2018-02-14 16:29] #107 closed, assigned to nobody

[2018-02-14 16:32] yatil commented on #121
What layout should change? It is a responsive design. There is no mobile layout. When you zoom the text you automatically get the mobile layout. I do not understand the question :-)

(We don’t even have an option to “switch to a mobile layout” as it was built after responsive best practices without any mobile size classes.)

[2018-02-14 16:34] yatil commented on #122
Is this the content for the homepage? (We should have a repository for that…)

[2018-02-14 16:44] #120 closed, assigned to yatil

[2018-02-15 17:39] shawna-slh opened #123 "underline breaks for descenders"
For example, under the "p", "g"s, "(" and ")":
<img width="298" alt="decender" src="https://user-images.githubusercontent.com/6991814/36271564-9490e758-1244-11e8-9c92-ddcccb2f1362.png">

It's distracting.

I'm guessing that there's little we can do about it with the font we've chosen?

[2018-02-15 18:12] shawna-slh commented on #123
/me just noticed that it's doing it elsewhere -- so maybe it's some setting on my end, or browser upgrade or something? :(

I'll let you know when I get a minute to figure it out...

[2018-02-15 18:28] shawna-slh commented on #123
URG! It's all over -- nothing to do with redesign.

[2018-02-15 18:28] #123 closed, assigned to nobody

[2018-02-16 20:27] yatil opened #124 "Set `<dt>` to bold"
As discussed here: w3c/wai-presentations2all#3

[2018-02-20 08:31] yatil opened #125 "Add archived document box"
And then add to https://github.com/w3c/wai-wcag-mob-overlap and https://github.com/w3c/wai-shared-experiences

[2018-02-20 08:31] #124 closed, assigned to yatil

[2018-02-21 01:16] yatil opened #126 "add space underneath in-suite navigation"
https://cl.ly/3W420a0R3g3s

[2018-02-21 01:18] yatil opened #127 "spacing of breadcrumb nav on mobile"
https://cl.ly/0C2r1D0s053q

[2018-02-22 11:30] #126 closed, assigned to yatil

[2018-02-22 12:01] #127 closed, assigned to yatil

[2018-02-22 12:36] yatil commented on #125
@slhenry Can you please give feedback on the implementation here: https://w3c.github.io/wai-website-components/components/preview/archived.html

(I tried using red first and while it looked great, it was too daunting, so I switched to yellow.)

[2018-02-22 13:12] #102 closed, assigned to nobody

[2018-02-22 15:52] yatil commented on #125
- [x] Make text editable between documents
- [x] Add verbiage to the title
- [x] Create template hooks
- [x] Use “archived” instead of “retired”

[2018-02-22 15:55] yatil commented on #105
## One paragraph

- [x] No space between paragraph and attribution.

[2018-02-22 16:00] yatil opened #128 "Add possibility to add line breaks in headings"
rel: https://github.com/w3c/wai-about-w3c-process/issues/2

[2018-02-22 16:58] yatil commented on #92
There were a lot of discussions in the meantime and we are implementing a different home page. I’ll close that for now, and we will create new issues if needed.

[2018-02-22 16:58] #92 closed, assigned to shawna-slh

[2018-02-23 07:51] yatil commented on #96
We have moved on and incorporated the discussion here :-)

[2018-02-23 07:51] #96 closed, assigned to brewerj

[2018-02-23 07:53] yatil opened #129 "Implement Page footer"
Add a field for page footer data. It should be a free-form HTML/Markdown field because the page footers are so different.

[2018-02-23 08:15] #128 closed, assigned to yatil

[2018-02-23 08:15] #129 closed, assigned to yatil

[2018-02-23 09:20] yatil commented on #125
Done from a design/theme perspective.

[2018-02-23 10:40] yatil commented on #106
Done.

[2018-02-23 10:40] #106 closed, assigned to yatil

[2018-02-23 10:58] yatil opened #130 "Implement deep-linking into expand/collapse"

[2018-02-23 11:15] #119 closed, assigned to yatil

[2018-02-23 11:23] #105 closed, assigned to shawna-slh

[2018-02-23 12:59] #130 closed, assigned to yatil

[2018-02-23 13:15] yatil commented on #122
Added to home page here: https://github.com/w3c/wai-website/blob/master/index.md

[2018-02-23 13:15] #122 closed, assigned to yatil

[2018-02-27 21:20] shawna-slh opened #131 "beta flag"
Change "This is an unpublished draft preview. Please refer to our published website at w3.org/WAI/." to I think:

It should go at the top and bottom.

Do we want to include in there links for comments: public-wai-eo-site@w3.org and https://github.com/w3c/wai-website-design/issues/new ?

[2018-02-27 22:22] shawna-slh opened #132 "optional extra list spacing"
I'd like a style for lists with more space. Previously we had:

.listspaced li {
	margin-bottom: 1em;

@yatil, feel free to use whatever implementation, class, unit of measure, etc. that you think is best.

[2018-02-27 22:30] shawna-slh commented on #132
(Then we can fix the br/s I put in https://github.com/w3c/wai-std-gl-overview/commit/ce1ce005f9fc9a147521f81de6de3c9e96d05968#diff-d680e8a854a7cbad6d490c445cba2eba )

[2018-02-27 22:46] yatil commented on #132
@slhenry

If you put empty lines between the list items, the content of the list items should be wrapped in a `<p>` and therefore have apt spacing. (Yes, this is one of the non-obvious things in Markdown :-D)

[code]

- One
- Two
- Three

vs.

[code]

- One

- Two

- Three

[2018-02-27 22:50] yatil commented on #131
@slhenry Do we want to keep the yellow background color or do we want to go less distracting (but keeping it obvious)?

[2018-02-27 22:50] shawna-slh commented on #132
humm -- but still marked up as a list?

[2018-02-27 22:52] yatil commented on #132
Yes, It is `<li><p>This and that</p></li>` instead of `<li>This and that</li>` – feels slightly more semantic to me, too. Let me know if that is sufficient for your needs.

[2018-02-27 23:36] shawna-slh opened #133 "darker h2 underline and box borders?"
## background
from https://www.w3.org/WAI/EO/wiki/Redesign_-_October_Revisions#Visual_design:

Judy: "massive amounts of white space (gray space?) ahead of every H2"... (This was in relation to https://w3c.github.io/wai-eval-overview/evaluation/#standards . It's more prominent there than in most content, e.g., https://w3c.github.io/wai-website/tips/designing/ -- see there how we really do want tha

[2018-02-28 00:00] shawna-slh commented on #132
ok I guess. :-)  /me fixed it in that doc

[2018-02-28 00:00] #132 closed, assigned to nobody

[2018-02-28 00:02] shawna-slh commented on #131
I think that yellow is good -- it's needs to be *very* obvious, and OK if a little distracting.

(But if you really want to try something else, I'm happy to look at it. :-)

(fyi, I was looking at http://www.bbc.co.uk/accessibility/ the other day and totally missed the "This page has been archived..." bit. Robert pointed it out to me.)

[2018-02-28 07:38] yatil commented on #133
* The underline on the h2 is just visual flourish, it is not needed for essential content. In contrast, it would look like the h2 belongs to the prior section if it the line more visible. It might also look more like a link. (That’s why I usually argue against underlines for headings.)
* The box borders come from the user tested design. The borders are not essential to have the box recognized as s

[2018-02-28 07:39] yatil commented on #131
Yeah, that’s way to inobtrusive :-)

[2018-02-28 07:39] yatil commented on #132
\o/

[2018-02-28 17:52] yatil opened #134 "Color"
Currently, we are using this darker blue that W3C.org is using as a link color. It has very good contrast (12.6):

<img width="1680" alt="Example image dark color" src="https://user-images.githubusercontent.com/58862/36803565-31d5f9cc-1cb8-11e8-8736-2a4d3de9668b.png">

The “W3C blue” that is used for some background colors on W3C.org would look like this (contrast: 7.1):

<img width="1680" alt="im

[2018-02-28 17:54] yatil commented on #134
My personal opinion: I like the current version much better because it is more clear and the higher contrast makes it clear where the content is. The version with the lighter blue looks undefined and boring.

[2018-02-28 19:16] shawna-slh commented on #134
To further clarify: The first image uses #003366 for the top header/banner with main navigation and left navigation area. That is the blue that the current W3C site uses for things such as the home page news headings. "W3C blue" is #005A9C, which is lighter and brighter.

I strongly support the WAI sub-site using colors and other means to clearly associate with the main W3C site. (I'm thrilled tha

[2018-03-01 16:32] yatil opened #135 "In-page reference links"
We had them on the old page in a certain style (dotted underlines).

My point of view is: We don’t really need them, the new writing style should make links to definitions less needed as we explain them first. Dotted links are also uncommon and without explanation the differentiation between a reference link that jumps to a section of a page (with a definition) and a normal link that jumps to a se

[2018-03-06 19:20] shawna-slh opened #136 "Draft like Archive, on bcase pages"
@yatil , I think we want a "Draft" treatment like we've done for "Archive", with:
* "[Draft]" in title
* "Draft" yellow labely thing that's in h1
*  yellow box under h1 where we put more info

Before announcing beta, let's put that on the in-progress bcase pages.

[2018-03-07 07:31] yatil commented on #136
Didn’t we agree to not put draft stuff on the new site?? This adds a lot of last-minute complexity.

[2018-03-07 07:52] yatil commented on #125
Re-Open because of the comments in #136 and https://github.com/w3c/wai-shared-experiences/issues/2.

[2018-03-07 11:07] koalie commented on #134
The W3C Comm webdesign TF is going to discuss this tomorrow.

[2018-03-07 11:45] yatil commented on #134
FWIW, the color designated in the [styleguide](https://w3c.github.io/design/styleguide/#logo) as W3C is not used at all on the current website: https://cl.ly/43342Y2M381I

(The slider on the far right highlights difference in black and sameness in white.)

Ding the same with the darker blue (currently used by WAI) reveals the headings & links as the same: https://cl.ly/2g0h2W1O1r1Z

I think W3C is

[2018-03-07 13:27] shawna-slh commented on #136
I was assuming that we'd have the draft revised business case on the beta site -- but maybe others were not thinking that??
I'm happy to discuss -- especially ways to avoid complexity.

[2018-03-07 13:28] shawna-slh commented on #136
Maybe best to just leave bcase section empty for beta?

[2018-03-07 13:47] yatil commented on #136
I don’t have strong feelings. I have added the functionality for drafts. Either we use the currently published one or the new one. We just have to decide :-D

[2018-03-08 19:26] shawna-slh commented on #136
Proposal: For now, the beta has one bcase page. It says:

Let me know if you strongly disagree or want us to get more input.

Let me know if you want me to do anything to get content on that page, or anything else.

(And let's see if Sharron and EOWG can get the revised business case publishable before launch...)

[2018-03-08 21:49] shawna-slh opened #137 "search box border contrast"
@yatil here's a reminder to make the search box have contrast of at least 3:1, ideally 4.5:1. Given how much most people want to use the search (and that it actually works well now!), I think good to make it clearly visible, and 4.5:1 would be good.

Can be just adding a border, not changing the box color itself. Let me know if you want more specifics.

from https://www.w3.org/TR/WCAG21/#non-text-

[2018-03-08 22:09] shawna-slh opened #138 "site footer"
* "Web Accessibility Initiative" -> W3C Web Accessibility Initiative (WAI)

* "Copyright © 2017 W3C® (MIT, ERCIM, Keio, Beihang). Usage policies apply."
->```Copyright &#xA9; 2018 W3C <sup>&#xAE;</sup> (<a href="http://www.csail.mit.edu/"><abbr title="Massachusetts Institute of Technology">MIT</abbr></a>, <a href="http://www.ercim.eu/"><abbr title="European Research Consortium for Informatics and

[2018-03-08 22:47] shawna-slh opened #139 "search box"
https://w3c.github.io/wai-website/search/

[!!] text in box larger

[ED] text box longer

[2018-03-08 22:52] shawna-slh opened #140 "search scope & options"
We need to make it clear what the search includes and what it doesn't (e.g., not WCAG itself)-- and provide ways to search broader -- e.g., /TR/

For now quick-n-dirty, I just put one sentence and links to search with "site:..." filled out.

We need a more elegant solution.

[2018-03-09 08:24] yatil commented on #140
We can add anything to the search we want – theoretically :-) I don’t think having WCAG itself in there would be very helpful because WCAG affects everything that we do. We might, however, look into how we can leverage the data of the quickref at some point.

Thanks for the quick update.

[2018-03-09 09:27] yatil commented on #136
As I said, I have no strong feelings.

I can add it.

[2018-03-09 09:27] yatil commented on #136
@slhenry Shall I now mark it as draft, or not?

[2018-03-09 10:25] yatil commented on #137
Is that for the search box in the header? I assume so.

[2018-03-09 10:42] #137 closed, assigned to nobody

[2018-03-09 10:52] yatil commented on #138
Fixed in https://github.com/w3c/wai-website-theme/commit/33732219d22b257dd88269d5167bd014bf422698

[2018-03-09 10:53] #138 closed, assigned to yatil

[2018-03-09 11:32] #136 closed, assigned to yatil

[2018-03-11 13:20] #139 closed, assigned to yatil

[2018-03-11 13:28] #131 closed, assigned to yatil

[2018-03-11 13:29] #125 closed, assigned to yatil

[2018-03-11 14:21] yatil opened #141 "Changelogs, Resource Descriptions, …"
We need an approach for packaging changelogs and resource descriptions (like requirements analysis) with each resource, so we can consistently link to is and reliably find it. Maybe using the README files on GitHub could work, or wikis or pages in the resource.

Prompted by: https://github.com/w3c/wai-older-users/issues/12#issuecomment-370876587

[2018-03-12 22:32] shawna-slh opened #142 "[low-medium priority] Suite (left) Nav"
Understand current implementation and issues. Then explore options.

(e.g., Instead of left nav with "audiences" and "overview", just one that is "Get Resources for...")

Also, for some it makes sense to have previous-next;  but not for others.

[2018-03-12 22:50] yatil commented on #142
It’s possible to disable prev/next buttons by specifying it in the collection of the _config.yml file (Example: https://github.com/w3c/wai-audiences/blob/ebd9c67c83955eb46cb5837c6a0de3f122d604df/_config.yml#L46).

[2018-03-14 13:14] shawna-slh opened #143 "Help improve this page"
is missing from several pages, such as:
* home page
* how pwds use the web & sub-pages
* ...

[2018-03-14 16:01] shawna-slh commented on #134
Based on W3C Comm webdesign TF minutes, we're leaving it the darker blue for now.

[2018-03-14 19:26] yatil commented on #143
Home page is deliberate. That’s our page. How people with disabilities use the web is an open issue. It should display but does not.

[2018-03-14 19:26] #143 closed, assigned to yatil

[2018-03-15 13:01] shawna-slh opened #144 "[low-medium] video thumbs in beta"
https://www.w3.org/WAI/beta/fundamentals/accessibility-intro/

missing video thumbs

there are 3 - including one under [+] Examples

[2018-03-15 13:08] yatil commented on #144
Works for me/works now :-)

[2018-03-15 13:08] #144 closed, assigned to yatil

[2018-03-15 16:15] shawna-slh commented on #133
No concerns from Low Vision Task Force ([e-mail](https://lists.w3.org/Archives/Public/public-low-vision-a11y-tf/2018Mar/0011.html), [minutes](https://www.w3.org/2018/03/15-lvtf-minutes.html#item01)).

Closing for now.

[2018-03-15 16:15] #133 closed, assigned to yatil, shawna-slh

[2018-03-19 23:17] yatil commented on #142
Ref: https://github.com/w3c/wai-website/issues/21

[2018-04-04 20:08] shawna-slh commented on #96
testing if Judy gets notification of this... @brewerj !

[2018-04-13 06:16] brewerj commented on #134
Sorry as for some reasons the notifications of this dialog did not come through even though I was subscribed. From my perspective, "boring" is in the eye of the beholder, and I actually had that reaction to the darker blue; or rather, that it seemed very flat. Did you consider trying a shade of blue between the current darker one and the W3C reference blue? To me the dark color does not look as "l

[2018-04-13 06:28] brewerj commented on #11
I keep looking at the info tiles, and keep having concerns. It is good to see that the area has gotten reduced somewhat, but my overall impression is that much of the "real estate" of the "above the fold" area of the page is still taken up with a few large images, and large fonts, plus large panels of non-linked, non-interactive space. So this worries me. We have so many good resources to circulat

[2018-04-13 07:22] yatil commented on #134
I don’t think there is any value in introducing yet another blue into the discussion. The designer picked the colors to give a certain weight. Changing the color – as shown with just replacing the W3C blue – means changing most of the other colors as well to get the same kind of hierarchy and clarity.

I really feel that the amount of work and discussion and distraction is not worth the effort at

[2018-04-13 13:01] yatil commented on #11
@brewerj This issue is closed since 2016 and about the StyleTiles which we used to get the design direction. I think you refer to the illustration on top of the homepage. Can you please open a new issue here? https://github.com/w3c/wai-website/issues

Remember nobody is actively monitoring closed issues, so your comments there will be missed unless you also re-open the issue.

[2018-04-18 03:16] brewerj commented on #134
To clarify a few things:
- I had not suggested adding another blue to the design, but rather making one of them not quite so dark. However, I see what you're saying about the good contrast that the darker blue gives, so I don't consider this a major concern.
- With regard to not having gotten any negative feedback on the darker color, actually I had commented on it several times in discussions abo

[2018-04-18 03:36] brewerj commented on #134
A separate comment related to color: at one point I think that there were one or two accent colors in consideration as part of the website palette, but I'm not seeing these used in the final design. Are you still thinking of using the accent color(s) for any information types on the website in the future? I'm not advocating for trying to add these back into the design at this time, but simply aski

[2019-04-28 19:52] yatil commented on #29
Will be picked up in https://github.com/w3c/wai-website/issues/99

[2019-04-28 19:52] #29 closed, assigned to yatil

[2019-04-28 19:54] #31 closed, assigned to yatil

[2019-04-28 19:55] #32 closed, assigned to nobody

[2019-06-12 07:27] #61 closed, assigned to yatil, shawna-slh

[2022-07-22 16:07] #79 closed, assigned to yatil

[2022-07-22 16:11] #134 closed, assigned to shawna-slh, bert-github, tanyeah